<dl>
  <dt>
    <label for="record_password_confirmation">Password Confirmation</label>
  </dt>
  <dd>
    <input autocomplete="off" class="password_confirmation-input text-input" id="record_password_confirmation" name="record[password_confirmation]" size="20" type="password" />
      </dd>
</dl>