	<h2>Flickr Images | &nbsp; <%= pageinated_links_for_ajax(@photo_pages, "flickr_photos", "/bus_admin/flickr_images", "search", {:tags => @tags}) %></h2>
	Your Search Returned <%= @size %> result(s) from the Flickr Database.
	<%= render :partial => 'photo', :collection => @photos %>
