<h1>There was an error processing your request <small>[error 500]</small></h1>
<p>Sorry! We're growing and there have been some big changes around here lately.</p>
<p>Please use the site search to find what you were looking for.</p>
<p>Thanks! </p>

<% content_for :sidebar do %>
<div>
  <a title="Subscribe to the Newsletter" href="http://www.industrymailout.com/Industry/Subscribe.aspx?m=3929" target="_blank"><img src="/images/dt/promos/newsletter_promo.jpg" /></a>
</div>
<% end %>