<dl>
  <dt>
    <label for="record_responsibilities">Responsibilities</label>
  </dt>
  <dd> 
    <%= textile_editor  'record', 'responsibilities'  -%>
  </dd>	
</dl> 
<%= textile_editor_initialize -%>
