<div id="contentContainer">
  <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
  <% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>
  <div class="partnerInfo">
    <div class="leftColW">
      <h1>Group Types</h1>
	  <%= new_group_nav %>
   
    </div>
   </div>

  <div id="show-group">
  	<%= render :partial => '/bus_admin/group_types/show_groups', :collection => @groups if @groups %>
  </div>
</div>

