<div id="subNavWide">
	<ul class="subNav li">
	  <li id="group-nav-overview"><%= link_to "Create New", bus_admin_new_group_type_path %></li>  
	  <li><%= link_to 'Inactive Records', :action => 'inactive_records'  %></li>
	</ul>
</div><!-- subNav ends -->
