<div id="teams">
	<%= campaign_h2_header('Teams','team_container')%>
	<div id="team_container" class="row_container">		
		<%= render :partial => 'team', :collection => @campaign.teams %>
	</div>
</div>
