<h1>Editing task_category</h1>

<%= error_messages_for :task_category %>

<% form_for(:task_category, :url => task_category_path(@task_category), :html => { :method => :put }) do |f| %>
  <%= render :partial => 'shared/category_form', :locals => { :f => f } %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', task_category_path(@task_category) %> |
<%= link_to 'Back', task_categories_path %>