<dl>
  <dt>
    <label for="philosophy_dev">Philosophy Development</label>
  </dt>
  <dd> 
    <%= textile_editor  'record', 'philosophy_dev'  -%>
  </dd>	
</dl> 
<%= textile_editor_initialize -%>
