<div id="subNavWide">
	<ul class="subNav li">
		<li id="new-nav-overview"><%= link_to "Create New", bus_admin_new_frequency_type_path %></li>  
  		<li id="edit-nav-overview"><%= link_to "Edit", bus_admin_edit_frequency_type_path %></li>  		
		<li id="delete" ><%= link_to "Delete", bus_admin_frequency_type_path(@frequency), :method => :delete, :confirm => 'Are you absolutely sure you want to delete this frequency type?' %></li>
  	</ul>
</div><!-- subNav ends -->
