<div id="contentContainer">
	
  <h1>Frequency Type</h1>    
  <%= frequency_nav %>
 
  <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
  <% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>
    
  <div class="leftColW">
    <h2><%= link_to @frequency.name, bus_admin_frequency_type_path(@frequency) %></h2>
   
 </div>
</div>
