<h1>Editing milestone</h1>

<%= error_messages_for :milestone %>

<% form_for(:milestone, :url => milestone_path( @project, @milestone ), :html => { :method => :put }) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', milestone_path( @project, @milestone ) %> |
<%= link_to 'Back', milestones_path %>