      <div id="footer">
 
        <a href="/about-us/">About Us</a> |
        			<a href="/get-involved">Get Involved</a> |
        			<a href="/blog">Blog</a> |
        			<a href="/about-us/faqs/">FAQs</a> |
        			<a href="/school-program">School Program</a> |
        			<a href="/dt/OneYoga/">OneYoga</a> |
        			<a href="/contact-us">Contact Us</a> |
        			<a href="/terms-of-use">Terms of Service</a> |
        			<a href="/help/">Help</a>

        			<br />
        			<%= Time.now.year %> &copy; ChristmasFuture Foundation | ChristmasFuture is a registered Canadian charity (850277120RR0001)
        
      </div>
      