<div id="footer">
  <a href="/about-us/">About Us</a> |
  <a href="/get-involved">Get Involved</a> |
  <a href="/blog/blog/">Blog</a> |
  <a href="/about-us/faqs/">FAQs</a> |
  <a href="/school-program">School Program</a> |
  <a href="/dt/OneYoga2009">OneYoga</a> |
  <a href="/dt/campaigns">Campaigns</a> |
  <a href="/corporate">Corporate</a> |
  <a href="/contact-us">Contact</a> |
  <a href="/terms-of-use">Terms</a> |
  <a href="/privacy">Privacy</a> |
  <a href="/help">Help</a>
  <br />
  <%= Time.now.year %> &copy; Uend: Foundation | Canadian charity (850277120RR0001)
</div>
