<div id="globalnav-wrapper" class="clearfix">
  <div id="globalnav" class="clearfix">
    <ul>
      <li><a href="/about-us">About Us </a></li>
      <li<%= ' class="current"' if @topnav == 'projects' %>><a href="/dt/projects">Projects </a></li>
      <li<%= ' class="current"' if @topnav == 'get_involved' %>><a href="/get-involved">Get Involved </a></li>
      <li><a href="/school-program">School Program </a></li>
      <li><a href="/blog">Blog </a></li>
      <li><a href="/contact-us">Contact </a></li>
    </ul>
    	<div>
			<% #render :partial => 'search'%>
		</div>

</div>