<div id="globalnav-wrapper" class="clearfix">
  <div id="globalnav" class="clearfix">
    <ul>
      <li><a href="/about-us">About Us </a></li>
      <li<%= ' class="current"' if @topnav == 'projects' %>><a href="/dt/projects">Projects </a></li>
      <li<%= ' class="current"' if @topnav == 'get_involved' %>><a href="/get-involved">Get Involved </a></li>
      <li><a href="/school-program">School Program </a></li>
      <li><a href="/blog">Blog </a></li>
      <li><a href="/contact-us">Contact </a></li>
    </ul>
    <!--
    	<div>
			<form method="get" name="search" id="search" action="http://www.google.com/cse">
				<input name="q" type="text" id="searchBox" title="Search" value="Search" size="15" maxlength="30" onblur="if(!this.value)this.value='Search';" onfocus="if(this.value=='Search')this.value='';"/>
				<span id="searchsubmit"><input type="submit" value="Go" class="submitreplace" /></span>
				<input type="hidden" name="cx" value="018295523257149889047:dzgd_gpevyo" />
			</form>
		</div>
		-->
		  <div >
      <% form_tag (search_dt_projects_path,{:id => 'search', :method => :get,:onsubmit => "if($('keywords2').value=='Search'){ $('keywords2').value='';}"} ) do %>
      	<%= text_field_tag 'keywords', (params[:keywords].nil? ? 'Search' : params[:keywords]), 
      		:title => 'Search', 
      		:size => 15 ,
      		:onblur =>"if(!this.value) this.value='Search';", 
      		:onfocus => "if(this.value=='Search') this.value='';",
      		:id=> 'keywords2'
      	%>
      	<span id="searchsubmit">
      		<%= submit_tag 'go',
      			:id => 'simple_search_submit', 
      			:class => 'submitreplace'
      		%>
      	</span>
      	
      <% end -%>
      </div>
</div>