<div class ="main-nav clearfix">
    <ul class="left-tabs">
      <h1><%= ((controller.controller_name == "home") ? "<li class='selected left-tab'>" :  "<li class='left-tab'>" )  + link_to("<span>Home</span>", {:controller=>'home', :action=>'index'}, {:class=>'nav-tab left-tab'}) %></li></h1>
      <h1><%= ((controller.controller_name == "projects") ? "<li class='selected left-tab'>" :  "<li class='left-tab'>" )  + link_to("<span>Projects</span>", {:controller=>'projects', :action=>'index'}, {:class=>'nav-tab left-tab'}) %></li></h1>
      <h1><%= ((controller.controller_name == "give") || ((controller.controller_name == "gifts") && (controller.action_name !="open")) ? "<li class='selected left-tab'>" :  "<li class='left-tab'>" )  + link_to("<span>Give</span>", {:controller=>'give', :action=>'index'}, {:class=>'nav-tab left-tab'}) %></li></h1>
      <h1><%= ((controller.controller_name == "gifts" && controller.action_name == "open") ? "<li class='selected left-tab'>" :  "<li class='left-tab'>" )  + link_to("<span>Receive</span>", {:controller=>'gifts', :action=>'open'}, {:class=>'nav-tab left-tab'}) %></li></h1>
    </ul>
    <ul class="right-tabs">
      <h1><li><a href="/school-program" class="nav-tab right-tab"><span>School Program </span></a></li></h1>
    </ul>
</div>
<div class="tab-bottom">&nbsp;</div>
