<p class="both">
Please note, currently ChristmasFuture emails are not being received by Hotmail accounts due to Hotmail spam filters. 
We are working on this issue right now and will have it resolved soon. Please use an alternate email account for now. 
Thanks for walking with us in our inaugural year!
</p>
