<div id="masthead" style="background-image:url(<%= @masthead[:image] %>);">
<div class="donate">
<a href="#"><img src="/images/dt/button-give_to_friend.png" width="115" height="35" alt="Button Give To Friend" /></a><a href="#"><img src="/images/dt/button-give_to_community.png" width="113" height="35" alt="Button Give To Community" /></a>
</div>
</div>