<ul id="nav">
<li id="nav-about-us"><a href="http://christmasfuture.org/our_vision.html"><span>About Us</span></a></li>
<li id="nav-donortrust"><a href="/dt"><span>Projects</span></a></li>
<li id="nav-get-involved"><a href="http://christmasfuture.org/get_involved.html"><span>Get Involved</span></a></li>
<li id="nav-school-programs"><a href="http://christmasfuture.org/pilot_project.html"><span>School Program</span></a></li>
<li id="nav-resources"><a href="http://christmasfuture.org/resources.html"><span>Resources</span></a></li>
<li id="nav-contact"><a href="http://christmasfuture.org/contact.html"><span>Contact</span></a></li>
</ul>
<div class="clear" style="margin-bottom:4px;"></div>