<div id="contentContainer">
  <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
  <% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>
  <div class="partnerInfo">
    <div class="leftColW">
      <h1>Partner Types</h1>
	  <%= new_partner_nav %>
   
    </div>
   </div>

  <div id="show-group">
  	<%= render :partial => '/bus_admin/partner_types/show_partners', :collection => @partners if @partners %>
  </div>
</div>

