.DS_Store
log/*.log
rerun.txt
config/database.yml
development_structure.sql
db/schema.rb
*.sqlite3
*.sqlite3-journal
#*#
~*
*~
*.orig
benefic.esproj*
tmp*
.rvmrc
.bundle
capybara*.html
public/system/*
