.DS_Store
log/*.log
log/*.pid
db/sphinx
data
data/*
rerun.txt
config/aws.yml
config/flickr.yml
config/database.yml
config/omniauth.yml
config/initializers/*_local.rb
config/development.sphinx.conf
config/test.sphinx.conf
config/cucumber.sphinx.conf
development_structure.sql
db/schema.rb
*.sqlite3
*.sqlite3-journal
#*#
~*
*~
*.orig
tmp*
.rvmrc
.bundle
capybara*.html
public/system/*
public/images/bus_admin/uploads/place
donortrust.tmproj
.rbenv-version
vendor/bundle
script/missing_subscriptions.rb
