.DS_Store
log/*.log
log/*.pid
db/sphinx
rerun.txt
config/aws.yml
config/database.yml
config/omniauth.yml
development_structure.sql
db/schema.rb
*.sqlite3
*.sqlite3-journal
#*#
~*
*~
*.orig
tmp*
.rvmrc
.bundle
capybara*.html
public/system/*
donortrust.tmproj