<div class="participants-list">
  <% if @campaign.participants.size > 0 %>
    <h3>Participants</h3>
    <ul>
      <% @campaign.participants.each do |p| %>
        <% content_tag :li do %>
          <%=h p.user.name %> <%= link_to "Donate", new_iend_campaign_campaign_donation_path(@campaign, :campaign_donation => {:participant_id => p.id }) %>
          <% if p.user == @user %>
            <%= link_to "Leave Campaign", iend_campaign_participant_path(@campaign, p), :method => :delete, :confirm => "Are you sure you want to leave this campaign?" %>
          <% end %>
        <% end %>
      <% end %>
    </ul>
  <% end %>
  <% if @campaign.user_can_participate?(@user) %>
    <%= link_to "Join this campaign", iend_campaign_participants_path(@campaign), :method => :post %>
  <% end %>
</div>