<% title(params[:search].blank? ? 'Campaigns' : nil ) %>
<%= render 'iend/shared/header' %>

<div class="clearfix">
  <%= link_to "Create a new campaign", new_iend_campaign_path, :class => "smallbutton", :style => "float:right" %>
</div>

<div class="iend-campaigns">
  <% @campaigns.each_with_index do |c, i| %>
    <div class="span-4 append-bottom<%= ' last' if (i+1)%3 == 0 %>">
      <%= render :partial => "campaign_summary", :locals => {:campaign => c} %>
    </div>
  <% end %>
</div>