<div style="margin:1em 0;">
  <script type="text/javascript" src="http://widgets.twimg.com/j/2/widget.js"></script>
  <script type="text/javascript">
  new TWTR.Widget({
    version: 2,
    type: 'profile',
    rpp: 2,
    interval: 6000,
    width: 'auto',
    height: 300,
    theme: {
      shell: {
        background: '#444',
        color: '#FFF'
      },
      tweets: {
        background: '#EEE',
        color: '#333',
        links: '#36C'
      }
    },
    features: {
      scrollbar: false,
      loop: false,
      live: false,
      hashtags: true,
      timestamp: true,
      avatars: false,
      behavior: 'all'
    }
  }).render().setUser('UEnd_org').start();
  </script>
</div>

<div style="margin-bottom:1em;">
  <script src="http://static.ak.connect.facebook.com/js/api_lib/v0.4/FeatureLoader.js.php/en_US" type="text/javascript"></script><script type="text/javascript">FB.init("fcce8cac158fe58c03ce07ca88c15d56");</script><fb:fan profile_id="239989860463" stream="0" connections="10" width="205" height="250"></fb:fan><div style="font-size:8px; padding:4px 0 4px 10px;border-bottom:1px solid #94A3C4;border-left:1px solid #94A3C4;border-right:1px solid #94A3C4;"><a href="http://www.uend.org/">uend: Foundation</a> on Facebook</div>
</div>
