/** Campaign Stuff */

.thumbnail{
	float: left;
	margin: 5px;
}

.image {
	float: left;
	margin: 5px;
}
.campagin_container {
	float: left;
	width: 76%;
}

.metrics h4 {
	border-bottom: 1px solid gray;
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.metrics h2 {
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: -5px;
	background-color: #ddd;
	font-size: 0.875em;
	font-weight: bold;
}

.campaign {
	margin: 5px;
	padding: 5px;
	border: 1px solid gray;
}

.campaign h1{
	border-bottom: 1px solid gray;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.campaign h2.admin {
	border-bottom: none;
	border-top: 1px solid gray;
}

h2.campaign {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 1px #393;
	background-color: #efe;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.campaign h2.campaign {
	margin-left: -5px;
	margin-right: -5px;
	margin-top: -5px;
}

span.detail {

}


/* sidebar items */
.campaign-sidebar-box {
	float: right;
	overflow: auto;
	margin: 5px 0px 5px 0px;
	padding: 5px;
	width: 170px;
}

.metrics {
	border: 1px solid gray;
	background-color: #FEFEFE;
	margin: 10px 0px 5px 0px;
}

.get-involved {
	border: 1px solid gray;
}

.get-involved ul {
  list-style:none;
}
.get-involved li {
	background:transparent url(/images/dt/icons/disc_arrow.gif) no-repeat scroll 0px 4px;
	padding:0 0 0.1875em 1em;
}
.get-involved a {
	text-decoration: none;
}

.campaign-address {
	border: 1px solid gray;
}

.campaign p.address{
	font-size: 10px;
}

ul.details_list {
	display: inline;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
}

li.detail {
	display: inline;
	font-family: Arial, Sans-serif;
	font-size: 10px;
}

li.detail strong{
	color: #360;
}

.campaign_form label {
	display: block;
	font-size: 10px;
	margin-top: 5px;
}

.campaign_form #submit {
	margin-top: 10px;
}

.campaign_filter{
	border: 1px solid gray;
	padding: 5px;
}

.live_search {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 5px;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 5px;
}

span.small_text{
	font-size: 12px;
}

.what_is_this_box {
	width: 400px;
	font-size: 10px;
	border: 1px solid gray;
	padding: 5px;
}

#errors {
	border: 1px solid gray;
	color: red;
	text-align: center;
	font-family: arial sans-serif;
	padding: 2px;
}



.icon {
	vertical-align: middle;
	border: 0px;
}

.filter_list {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	border: 1px solid gray;
}

.filter_list_item {
	display: inline;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding: 5px;
	margin-right: 5px;
}

.filter_ul_list a {
	text-decoration: none;
}


.filter_ul_list a:hover {
	text-decoration: none;
	color: #000;
}
.filter_list_item:hover {
	background-color: #ddd;
}

.filter_list_item_selected {
	background-color: #ddd;
	display: inline;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding: 5px;
	margin-right: 5px;
}

.filter_ul_list {
	list-style: none;
	margin: 0px;
	padding: 3px;
}

.campaign_filters {
	border: 1px solid gray;
	padding: 5px;
}

.filter_list a{
	text-decoration: none;
}

.filter_even{
	border-bottom: 1px solid gray;
	background-color: #ddd;
	padding: 5px;
}

.filter_odd{
	border-bottom: 1px solid gray;
	padding: 5px;
}

.row_even{
	border-bottom: 1px solid gray;
	padding: 5px;
}

.row_odd{
	border-bottom: 1px solid gray;
	background-color: #efefef;
	padding: 5px;
}

.row_odd p{
	margin: 0px;
}

.row_even p{
	margin: 0px;
}

.row_container {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	margin: 5px;
	padding: 0px;
}


#teams_container {
	margin: 5px;
}

#teams {
	border: 1px solid gray;
	margin: 5px;
}

.admin_team {
	border: 1px solid gray;
	margin-top: 5px;
}

.team_container {
	padding: 5px;
}

.admin_container{
	margin: 5px;
	border: 1px solid gray;
}

.content_container{
	padding: 5px;
}

.content_container p{
	margin: 0px;
}
