/** Campaign Stuff */
.thumbnail{
	float: left;
	margin: 5px;
}

div.participant-picture {
	clear:both;
}

.image {
	float: left;
	margin: 5px;
}
.campagin_container {
	float: left;
	width: 76%;
}

.metrics h4 {
	border-bottom: 1px solid gray;
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 5px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.metrics h2 {
	margin-left: -5px;
	margin-right: -5px;
	padding-left: 5px;
	padding-right: 5px;
	margin-top: -5px;
	background-color: #ddd;
	font-size: 0.875em;
	font-weight: bold;
}

.campaign {
	margin: 5px;
	padding: 5px;
	border: 1px solid gray;
}

.campaign h1{
	border-bottom: 1px solid gray;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.campaign h2.admin {
	border-bottom: none;
	border-top: 1px solid gray;
}

h2.campaign {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: solid 1px #360;
	background-color: #DDD; 
	/*border-bottom: solid 1px #CCC;
	background-color: #83A360;*/
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.campaign h2.campaign {
	margin-left: -5px;
	margin-right: -5px;
	margin-top: -5px;
}

/* sidebar items */
.campaign-sidebar-box {
	float: right;
	overflow: auto;
	margin: 5px 0px 5px 0px;
	padding: 5px;
	width: 170px;
}
.campaign-sidebar-box a{
	color: #360;
	font-size: 14px;
}

.campaign-sidebar-box ul {
  list-style:none;
  margin-left: 0; 
}
.campaign-sidebar-box li, .campaign-join-options li {
  list-style:none;
	background:transparent url(/images/dt/icons/disc_arrow.gif) no-repeat scroll 0px 4px;
	padding:0 0 0.1875em 1em;
}
.campaign-sidebar-box a {
	text-decoration: none;
}

.metrics {
	border: 1px solid gray;
	background-color: #FEFEFE;
	margin: 10px 0px 5px 0px;
}

.get-involved {
	border: 1px solid gray;
}

.campaign-address {
  padding-top: 0px;
  clear: right;
}

.campaign p.address{
	font-size: 10px;
}

ul.details_list {
	display: inline;
	list-style-type: none;
	margin: 0px 0px 0px 0px;
}

li.detail {
	display: inline;
	font-family: Arial, Sans-serif;
	font-size: 10px;
}

li.detail strong{
	color: #360;
}

.campaign_form label {
	display: block;
	font-size: 16px;
	margin-top: 10px;
}

.campaign_form #submit {
	margin-top: 10px;
}

.campaign_filter{
	border: 1px solid gray;
	padding: 5px;
}

.live_search {
	border-top: 1px solid gray;
	border-bottom: 1px solid gray;
	padding: 5px;
	margin-left: -5px;
	margin-right: -5px;
	margin-bottom: 5px;
}

span.small_text{
	font-size: 14px;
}

.what_is_this_box {
	width: 400px;
	font-size: 10px;
	border: 1px solid gray;
	padding: 5px;
}

#errors {
	border: 1px solid gray;
	color: red;
	text-align: center;
	font-family: arial sans-serif;
	padding: 2px;
}



.icon {
	vertical-align: middle;
	border: 0px;
}

.filter_list {
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	border: 1px solid gray;
}

.filter_list_item {
	display: inline;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding: 5px;
	margin-right: 5px;
}

.filter_ul_list a {
	text-decoration: none;
}


.filter_ul_list a:hover {
	text-decoration: none;
	color: #000;
}
.filter_list_item:hover {
	background-color: #ddd;
}

.filter_list_item_selected {
	background-color: #ddd;
	display: inline;
	border-top: 1px solid gray;
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	padding: 5px;
	margin-right: 5px;
}

.filter_ul_list {
	list-style: none;
	margin: 0px;
	padding: 3px;
}

.campaign_filters {
	border: 1px solid gray;
	padding: 5px;
}

.filter_list a{
	text-decoration: none;
}

.filter_even{
	border-bottom: 1px solid gray;
	background-color: #ddd;
	padding: 5px;
}

.filter_odd{
	border-bottom: 1px solid gray;
	padding: 5px;
}

.row_even{
	border-bottom: 1px solid gray;
	padding: 5px;
}

.row_odd{
	border-bottom: 1px solid gray;
	background-color: #efefef;
	padding: 5px;
}

.row_odd p{
	margin: 0px;
}

.row_even p{
	margin: 0px;
}

.row_container {
	border-left: 1px solid gray;
	border-right: 1px solid gray;
	border-top: 1px solid gray;
	margin: 5px;
	padding: 0px;
}


#teams_container {
	margin: 5px;
}

.admin_team {
	border: 1px solid gray;
	margin-top: 5px;
}

.team_container {
	padding: 5px;
	border: none;
}

.admin_container{
	margin: 5px;
	border: 1px solid gray;
}

.content_container{
	padding: 5px;
}

.content_container p{
	margin: 0px;
}

#participant_details, #campaign_details, #team_details, #participants, #teams, #team_members, #applicants, .postables {
	margin: 0px;
	padding-left: 10px;
	min-width: 150px;
	font-size: 1em;
}

#participants, #teams, #team_members, #applicants {
	border: 1px solid #ddd;
	margin-left: 10px;
	padding-left: 0px;
}


#participant_details ul, #participant_details ol, 
#campaign_details ul, #campaign_details ol,
#team_details ul, #team_details ol {
}

h5 {
	font-size: 0.875em;
	font-family:Arial,Helvetica,sans-serif;
	margin:0px;	
	border: none;	
}

h5 a {
	text-decoration:none;
}

div.links {
  padding-bottom: 3px;
	border-bottom:1px solid #666;
}

.login-required {
	font-style: italic;
}

/* List display */
.participant_long_display_picture {
	width:60px;
	float:left
}

.team_long_display_picture {
	width:90px;
	float:left
}

.campaign-picture {
}

/* pledge form */
#pledge_form span{
	float: right;
	font-size: 1.25em;
	padding-top: 5px;
}

/* search */
#search_box{
	margin-bottom: 15px;
}

#search_box input[type=text]{
	height:30px;
	width: 400px;
	font-size:135%;
}

.campaign_search_form {
	padding-top: 10px;
	text-align: center;
}

.campaign_search_form .search-label {
	font-size:1.25em;	
}

form#campaign_search input.submitreplace {
	width:35px;
	height:20px;
	vertical-align: middle;
	background: url(/images/dt/nav_elements/buttonsCF/CF_GObuttonOff.gif) no-repeat top left;
}
form#campaign_search input.submitreplace:hover{
	background-image: url(/images/dt/nav_elements/buttonsCF/CF_GObuttonOver.gif);
}

.search_result_participants, .search_result_teams, .search_result_campaigns {
	margin: 10px 0px 0px 10px;
	padding-left: 0px;
	min-width: 150px;
	font-size: 1em;
	border: 1px solid #ddd;
}


/* sponsor button */
a.button-sponsor {background:url(/images/dt/buttons/sponsor.png) no-repeat transparent;}
a.button-sponsor, a.button-sponsor span {
	display:block;
	float:left;
	width:104px;
	height:24px;
	margin-bottom:.5em;
}
a.button-sponsor span {
	text-indent:-9999px;
}

.campaign_action_button {
  float: left;
	padding-top: 5px;
	padding-left: -5px;
	margin-left: -5px;
}

/* join button */
.join, .create {
  float: right;
}

.dollars-raised {
	color: green;
}