/* front page css */

/* Left Column Wide(W) with Narrow(N) Right Column */
.leftColW {
	float: left;
	width: 475px;
	height: auto;
	padding: 10px 0px 0px 0px;
	background: none;	
}
.rightColN {
  float: right;
  width:300px;
	padding: 10px 0px 0px 0px;
}


/* Left Column Stuff */
#howItWorksImage {
	float: left;
}

.keyDifferentiators {
}
.keyDifferentiatorIcon {
  float: left;
}
.keyDifferentiatorText {
  /* padding: 0px 0px 10px 75px; */
}

/* Right Column Stuff */
#frontGiveButton, #frontReceiveButton {
	/* float: right; */
}

.right_side_banner {
	float: right;
	margin: 10px 0px 0px 0px;
}

.support-badge-home {
	border:#999 1px solid;
	padding:8px;
	margin:50px 0 8px 0;
	background:#EEE;
	text-align:center;
}

.support-badge-home p {
	margin: 0 0 0 0;
}

.support-badge {
	border:#999 2px solid;
	padding:16px;
	margin:16px auto;
	background:#EEE;
}

.support-badge .badge-image{
	text-align:center;
	padding:0 0 8px 0;
}