#container {
	width:800px;
	margin:auto;
	position:relative;
}

#header {
	padding:10px 0;
}

#masthead {
	border-top:1px solid #999;
	border-right:1px solid #999;
	border-left:1px solid #999;
}
#masthead img {
  display:block; /* this got rid of the top margin but pushes it way over to the right!?!? */
}

#contentcontainer {
  overflow:hidden;
	width:100%;
}

#contentcontainer #pagetitle{
	width: 100%;
}

#content-wrapper/*,  #content-plain-wrapper */ {
	width:562px;
	/* border-right:232px solid transparent; */ /* The width and color of the rail */
	/* margin-right:-232px; */ /* Hat tip to Ryan Brill */
	float:left;
}
/*
#content-plain-wrapper {
  width:472px;
}
*/
#content {
  margin-right:18px;
}

.content-padding {
	padding:0 0.875em 0 0;
}

/* no sidebar */
#contentwide-wrapper {
  width:auto;
}
#contentwide-wrapper #content {
  margin-right:0;
}

#sidebar-wrapper {
  width:232px;
  float:right;
}

#sidebar-plain-wrapper {
  width:222px;
  float:right;
}

#globalnav-wrapper {
  width:800px;
  background:url(/images/dt/nav_elements/globalNavBar.jpg) no-repeat top left;
  haeight:2.1875em; /* 35 pixels */
		height: 36px;
}
#nav {
  width:800px;
  height:1.5625em; /* 25 pixels */
  background:url(/images/dt/nav_elements/subNavBar.jpg) no-repeat top left #C4C4C4;
  margin-bottom:1em;
}
#navproject {
  background:url(/images/dt/nav_elements/projectNavBar.jpg) no-repeat top left #C4C4C4;
}

#toolbar-wrapper {
  width:724px;
  height:2.1875em; /* 35 pixels */
  background:url(/images/dt/toolbars/ToolBackground.jpg) no-repeat bottom left #C4C4C4;
}

#toolbar2-wrapper {
  background:#CCC url(/images/dt/toolbars/ToolBackground2.jpg) no-repeat;
  height:35px;
  width:724px;
  margin:10px 0 0 0;
}

/*
2-COLUMN LAYOUT IN BODY
=======================*/
.columns {}
.columns .content {
  width:292px;
  border-right:232px solid transparent; /* The width and color of the rail */
  margin-right:-232px; /* Hat tip to Ryan Brill */
  float:left;
}
.columns .content .contentmargin {
  margin-right:1em;
}
.columns .sidebar {
  width:232px;
  float:left;
}
/* 2 equal width columns */
.columns .left {
  float:left;
  width:48%;
  margin-right:1%;
}
.columns .right {
  float:right;
  width:48%;
  margin-left:1%;
}

/******* newstuff *********/
.leftColW800 {
	float: left;
	width: 598px;
	height: auto;
	padding: 10px 0px 0px 0px;
	background: none;	
}
.rightColN800 {
  float: right;
  width:200px;
	padding: 10px 0px 0px 0px;
}
/*********************/


/* 
NOTICES and ERRORS - General program flow helpers 
==================*/

div.notice, div.error, div.errorExplanation, div.activation {
  font-family:Arial, Helvetica, sans-serif;
  font-size:0.9375em;
	margin:1em 0;
	padding:4px;
}
#errorExplanation p, #errorExplanation li {
  font-family:Arial, Helvetica, sans-serif;
}
div.notice, div.activation {
  background-color:#FFD;
	border:1px solid #360;
}
div.error, div.errorExplanation {
	border:2px solid #C00;
}
div.errorExplanation ul {
	margin-left:2em;
}

div.control {
	background-color:#EFEFEF;
	padding:2px;
	font-size:0.75em;
}
div.control a:link, div.control a:visited {
	text-decoration: underline;
	color: #F00;
	padding:2px;
}
div.control a:hover, div.control a:active {
 	text-decoration: none;
	color: #FFF;
	background-color:#F00;
	padding:2px;
}


/* Add clearfix directly to columns */
.columns:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.columns {display:inline-block;}
/* Hide from IE Mac \*/
.columns {display:block;}
/* End hide from IE Mac */


/* general use classes  */
.hidden {
	display: none;
}

/* li with arrow icons */
ul.arrow {
	margin: 0px;
}

ul.arrow li{
	list-style: none;
	background:transparent url(/images/dt/icons/bullet.png) no-repeat scroll 0px 4px;
	padding:0 0 0.1875em 1.2em;
}

ul.arrow a{
	text-decoration: none;
}

