#container {
	width:724px;
	margin:auto;
}

#header {
    padding:10px 0;
}

#masthead {
    border-top:1px solid #999;
    border-right:1px solid #999;
    border-left:1px solid #999;
}

#contentcontainer {
    overflow:hidden;
	width:100%;
}

#content-wrapper {
    width:492px;
    border-right:232px solid transparent; /* The width and color of the rail */
    margin-right:-232px; /* Hat tip to Ryan Brill */
    float:left;
}
#content {
    margin-right:18px;
}

/* no sidebar */
#contentwide-wrapper {
    width:auto;
}
#contentwide-wrapper #content {
    margin-right:0;
}

#sidebar-wrapper {
    width:232px;
    float:left;
}

#globalnav-wrapper {
    width:724px;
    background:url(/images/dt/nav_elements/topNavBar.jpg) no-repeat top left #C4C4C4;
    height:2.1875em; /* 35 pixels */
}
#nav {
    width:724px;
    height:1.5625em; /* 25 pixels */
    background:url(/images/dt/nav_elements/subNavBar.jpg) no-repeat top left #C4C4C4;
    margin-bottom:1em;
}
#navproject {
    background:url(/images/dt/nav_elements/projectNavBar.jpg) no-repeat top left #C4C4C4;
}

#toolbar-wrapper {
    width:724px;
    height:2.1875em; /* 35 pixels */
    background:url(/images/dt/toolbars/ToolBackground.jpg) no-repeat bottom left #C4C4C4;
}

#toolbar2-wrapper {
    background:#CCC url(/images/dt/toolbars/ToolBackground2.jpg) no-repeat;
    height:35px;
    width:724px;
    margin:10px 0 0 0;
}

/*
2-COLUMN LAYOUT IN BODY
=======================*/
.columns {}
.columns .content {
    width:492px;
    border-right:232px solid transparent; /* The width and color of the rail */
    margin-right:-232px; /* Hat tip to Ryan Brill */
    float:left;
}
.columns .content .contentmargin {
    margin-right:1em;
}
.columns .sidebar {
    width:232px;
    float:left;
}
/* 2 equal columns */
.columns .left {
    float:left;
    width:48%;
    margin-right:1%;
}
.columns .right {
    float:right;
    width:48%;
    margin-left:1%;
}


/* 
NOTICES and ERRORS - General program flow helpers 
==================*/

div.notice, div.error, div.errorExplanation {
    font-size:0.8125em;
	margin:1em 0;
	padding:4px;
}
div.notice {
	background-color:rgb(255, 255, 204);
	border:1px solid #360;
}
div.error, div.errorExplanation {
	border:2px solid #C00;
}
div.errorExplanation ul {
	margin-left:2em;
}


/* Add clearfix directly to columns */
.columns:after {
  content: ".";
  clear: both;
  height: 0;
  visibility: hidden;
  display: block;
}
.columns {display:inline-block;}
/* Hide from IE Mac \*/
.columns {display:block;}
/* End hide from IE Mac */
