#leftColW .userform li {
	float:none !important;
	position:relative;
}

label {
	float:none !important; 
	display:block;
}	

input {
	padding: 2px 4px 2px 4px !important;
	width: auto !important;
	height: auto !important;
	float:none !important;
}
.userform select, .userform input {
	position:absolute;
	top:0;
	left:120px;
}

.userform #projectsuggest, .userform #selectedImage, .userform p, .userform div {position:relative;}

.userform #selectedImage ul, .userform #projectsuggest ul { padding-left:0px;}
.userform #selectedImage p.textsm { position:relative; top:25px; left:75px;}
.userform #selectedImage img { position: relative; top:5px;left:85px;}
.userform #projectsuggest li { display:inline; padding: 5px 10px 0 0;}

.userform #projectsuggest  input, .userform p.textsm input {
	position:relative;
	left: 0px;
	border:none;
	margin:1px 5px 0 0px;
	padding: 0 0 0 0 !important;
}

input.buttonsubmit {
	display:block;
	position:static;
	clear:none;
	padding:0;
	margin:3px 0 0 190px;
	width:auto;
	background-color: #46C;
	color:#FFF;
	font-weight:bold;
}
#buttonSignIn {
	float:left;
	clear:left;
	margin: 6px 0 0 0px;
	padding: 0;
}
#buttonSignIn input.buttonsubmit {
	margin-left:0;
}
.userform div.textsm, .userform p.textsm {
	width:auto !important;
	margin:0 !important;
	padding:0 !important;
	overflow:visible;
}

#ccExpiry {
	position:absolute;
	top:0;
	left:120px;
}
#ccExpiry select {
	position:static;
}
#gift_send_at_select select {
	position:static;
}

fieldset.fieldsetN input, fieldset.fieldsetN2 input {
	width: 132px !important;
	position:absolute;
	top:0;
	left:82px;
}
#rememberMe {position:relative;}
#rememberMe label{
	position: absolute;
	top:6px;left:24px;
}


#medImgWrap {
	background:transparent;
}
#medImgWrap, div.medImg {
	height:140px;
}
div.medImg, #miniThumbs li {
	background:transparent;
}
#medImgWrap img {
	display:block !important;
	width:140px;
	height:140px;
}
.textsm a:link, .textsm a:visited {
	cursor: hand;
}
.textsm a:hover, .textsm a:active {	
	cursor: hand;
}

p a:link, p a:visited {
	cursor: hand;
}
p a:hover, p a:active {	
	cursor: hand;
}

.dateStamp a:link, .dateStamp a:visited {
	cursor: hand;
}
.dateStamp a:hover, .dateStamp a:active {	
	cursor: hand;
}

#tableFooter a:link, #tableFooter a:visited {
	cursor: hand;
}
#tableFooter a:hover, #tableFooter a:active {	
	cursor: hand;
}
