/*
GLOBAL NAV and PAGE NAV
=======================*/
#globalnav {
    height:2.25em;
    padding:0 10px;
}
#globalnav ul {
    float:left;
    width: 500px;
    padding:.5em 0 0 8px;
    margin-top:2px;
}
#nav ul {
    float:left;
    width: 485px;
    padding:.5em 0 0 8px;
    margin-top:-2px;
}
#globalnav a, #nav a {text-decoration:none;}
#globalnav li, #nav li {
    padding:0;
    margin:0;
    font-size:0.8125em; /* 13px */
    list-style-type:none;
    display:inline;
    color:#FFF;
    line-height:1;
}
#globalnav li a {
    text-decoration:none;
    padding: 0.6875em 0.875em 0.875em 0.875em;
}
#nav li a {
    text-decoration:none;
    padding: 0.375em 0.875em;
}
#globalnav li a:link, #globalnav li a:visited, 
#nav li a:link, #nav li a:visited {
	color: #666;
}
#globalnav li a:hover, #globalnav li a:active,
#nav li a:hover, #nav li a:active {
	color: #FFF;
	background-color:#999;
}
#globalnav li.current, #nav li.current {
    border-left: 1px solid #999;
    border-right: 1px solid #999;
    background-color:#360;
}
#globalnav li.current {padding: 0.625em 0.875em 0.75em 0.875em}
#nav li.current {padding:0.375em 0.875em;}

#globalnav li.current a:link, #globalnav li.current a:visited, #globalnav li.current a:hover, #globalnav li.current a:active,
#nav li.current a:link, #nav li.current a:visited, #nav li.current a:hover, #nav li.current a:active { 
    padding:0;
    color:#FFF;
}

/*
SUBNAV
======*/
#subnav {}
#subnav ul {
    border-bottom:0.0625em solid #CCC;
    padding:0.5625em 0;
}
#subnav li {
    font-size:0.6875em;
    display:inline;
}
#subnav li a {
    padding:0.125em .375em;
    border:0.0625em solid transparent;
    text-decoration:none;
}
#subnav li a:link, #subnav li a:visited {
    color: #333;
}
#subnav li a:hover, #subnav li a:active {
    border:0.0625em solid #F60;
}
#subnav a.current, #subnav a.current:link, #subnav a.current:visited, #subnav a.current:hover, #subnav a.current:active {
    background-color:#66758B;
    color:#FFF;
}

/* 
PAGINATION
==========*/
div.pagination {
	font-size: 0.6875em; /* 11px */
	color:#999;
	margin-top:7px;
}
div.pagination span.disabled {
	color:#999;
}

div.pagination a, div.pagination span {
	background-color:#FFF;
	color: #333;
	text-decoration:none;
	display: inline;
	font-weight: normal;
	padding: 1px 6px;
	border: 0.0625em solid transparent;
}

div.pagination .current {
	background:#EEE;
}

div.pagination a:link, div.pagination a:visited, div.pagination a:hover, div.pagination a:active {
	color: #333;
}
div.pagination a:hover, div.pagination a:active {
	border: 0.0625em solid #F60;
}


/*
TEMPLATE HEADER
===============*/
#logo {
    width:205px;
    float:left;
}

form#search {
	float:right;
	padding: .5em 0px;
}

#rss a, #rss a span {
    width:16px;
    height:16px;
    display:block;
}
#rss a {
    float:right;
}
#rss a span {
    text-indent:-9999px;
    background:url(/images/dt/icons/feed-icon16x16.png) no-repeat;
}
#rss, #loginbug, #cartlink {
    padding-top:2em;
}
#loginbug {
    float:right;
    width:10.5em;
    text-align:right;
}
#cartlink {
    float:right;
    width:3em;
    text-align:right;
}
