/*
Project Header
*/
.full-display-project-header {
  border-bottom: 1.5px solid black;
  margin-bottom: 8px;
}

.full-display-project-title {
  float: left;
  line-height: 1em;
  padding-top: 20px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}
.full-display-project-title a{
  text-decoration: none;
}

.full-display-subheader {
  clear: left;
  float: left;
  padding-top:2px;
  width: 500px;
  font-size:14px;
  font-weight: bold;
}

.full-display-subheader a{
  text-decoration: none;
}

.full-display-sector-images {
  float: right;
  padding-top:35px;
  vertical-align: bottom; 
}

/*
Project Body
============*/
div.projectRank {
  margin:.625em 0 .5em 0;
}
div.projectRank strong {
	color: #333333;
}

div.projectRank ul {
  margin:0 0 1.125em 0;
}

div.projectRank li {
  display:inline;
  list-style:none;
  padding:0 0 0.1875em 0em;
}

/* limit project typography */
div.project-content h1 { font-size: 1.25em; /* 20px */ font-weight: bold; }
div.project-content h2 { font-size: 1.125em; /* 18px */ font-weight: bold; }
div.project-content h3 { font-size: 1em; /* 16px */ font-weight: bold; }
div.project-content h4 { font-size: 0.875em;/* 16x0.875em=14px */ font-weight: bold; }


/*
Project Highlight List
======================*/
.projecthighlight {}
.projecthighlight ul {
  margin:0pt 0pt 1.125em 0em;
}
.projecthighlight li {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:0.6875em; /* 11px */
  margin:0.125em 0;
  border-bottom:solid 1px #DDD;
}
.projecthighlight strong {
	color: #000000;
}

/*
Project Actions
===============*/
.projectactions {}
.projectactions ul {
  list-style:none;
  margin:0;
}
.projectactions li {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  list-style-display:none;
  font-size:0.6875em; /* 11px */
  margin:0.125em 0;
  padding:0.1875em 0 0.25em 0;
  border-bottom:solid 1px #DDD;
}
.projectactions strong {
	color: #000000;
}

/*
Project Info
===============*/

.projectinfo {
  background:url(/images/dt/2pxGrnLine.gif) repeat-x 0 bottom;
  margin:0;
}

/*
Quick Facts
===========*/
.quickfacts {}

.quickfacts ul, .content-quickfacts ul, .gift-options ul {
  margin:0 0 1.125em 0;
  list-style-type:none;
}

div.projectlist .project .quickfacts ul li, div.projectlist .project .content-quickfacts ul li,
.quickfacts ul li, .content-quickfacts ul li, .quickfacts ol li {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:0.6875em; /* 11px */
  margin:0em 0;
  padding:0.25em 0 0.25em 0;
}
.quickfacts ol li {
  border:0;
}

.content-quickfacts li {
  border:0;
}

.quickfacts strong, .content-quickfacts strong {
}
.quickfacts ol, .content-quickfacts ol {
  margin-left:1.5em;
}
.sidebar-give {
}

/*
Gift Options
============*/
.gift-options ul li {
  margin:0.25em 0;
  padding:0;
}
.gift-options ul li a {
  text-decoration:none;
  display:block;
  color:#FFF;
  padding:0 0 0 3px;
}
.gift-options ul li a:link, .gift-options ul li a:visited {
  background: #A4ADB4;
  border: 1px solid #727477;
}
.gift-options ul li a:hover, .gift-options ul li a:active {
  background: #FF7519;
  border: 1px solid #917563;
}

/*
Group Messages
===============*/
.group_wall {
  background:url(/images/dt/2pxGrnLine.gif) repeat-x 0 bottom;
  font-family:Georgia,"Times New Roman",Times,serif;
  font-size:.9em;
  margin:0.375em 0 0 0;
  padding:0 0 1px 0;
}

.group_wall-attribution strong {
	color: #000000;
	font-size: 1em;
}

/*
Member List
===========*/
#memberlist li {
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  list-style-type:none;
  border-bottom:solid 1px #DDD;
}

#memberlist .name {
  float:left;
  width:254px;
}

#memberlist .date {
  float:left;
  text-align:left;
  width:80px;
}

#memberlist .mtype {
  float:right;
  width:80px;
}

/*
Transaction List
===========*/

#transaction-list {
  padding:0 0 0 10px;
}

#transaction-list table {
  border:1px solid #DDD;
  font-size:12px;
}

#transaction-list th {
  background:#999;
  color:#FFF;
  font-size:1.1em;
  font-weight:bold;
}
#transaction-list td, #transaction-list th {
  margin:0pt 1px 0pt 0pt;
  padding:1px;
}

/*
Project Buttons
===============*/
div.projectbuttons {
  margin:0.5em 0;
  margin-top:1em;
}

a.button-connect, a.button-connect span {
  display:block;float:left;
  margin-top:3px;
  width:92px;
  height:20px;
}
a.button-connect {background:url(/images/dt/nav_elements/buttonsCF/connectButton_grey.gif) no-repeat transparent;}
a.button-connect:hover {background:url(/images/dt/nav_elements/buttonsCF/connectButton_blue.gif) no-repeat transparent;}

a.button-gift, a.button-gift span, 
a.button-invest, a.button-invest span,
a.button-sponsor, a.button-sponsor span,
a.button-creategroup, a.button-creategroup span,
a.button-checkout, a.button-checkout span,
a.button-return_to_cart, a.button-return_to_cart span,
a.button-add_gift_card, a.button-add_gift_card span,
a.button-add_project_gift, a.button-add_project_gift span,
a.button-give_project, a.button-give_project span,
a.button-add_deposit, a.button-add_deposit span,
a.button-send_wishlist, a.button-send_wishlist span,
a.button-add_project, a.button-add_project span,
a.button-deletegroup, a.button-deletegroup span,
a.button-invitemembers, a.button-invitemembers span {
  display:block;
  float:left;
  width:104px;
  height:23px;
  margin-bottom:.5em;
}
a.button-send_wishlist, a.button-send_wishlist span,
a.button-add_project, a.button-add_project span {
  width:124px;
}
a.button-return_to_cart, a.button-return_to_cart span {width:170px;}
a.button-add_project_gift, a.button-add_project_gift span {width:141px;}
a.button-give_project, a.button-give_project span {width:134px;}
a.button-add_gift_card, a.button-add_gift_card span {width:134px;}
a.button-add_deposit, a.button-add_deposit span {width:134px;}
a.button-checkout, a.button-checkout span {width:86px;}

a.button-invitemembers, a.button-invitemembers span{
  width:102px;
  height:16px;
}
a.button-gift span,
a.button-invest span, 
a.button-creategroup span, 
a.button-connect span,
a.button-checkout span,
a.button-return_to_cart span,
a.button-add_gift_card span,
a.button-add_project_gift span,
a.button-give_project span,
a.button-add_deposit span,
a.button-add_project span,
a.button-send_wishlist span,
a.button-go span,
a.button-deletegroup span,
a.button-invitemembers span {
  text-indent:-9999px;
}
a.button-gift {background:url(/images/dt/nav_elements/buttonsCF/giftProject_lgrey2.gif) no-repeat transparent;}
a.button-gift:hover {background:url(/images/dt/nav_elements/buttonsCF/giftProject_blue.gif) no-repeat transparent;}
a.button-invest {background:url(/images/dt/nav_elements/buttonsCF/invest_grey.gif) no-repeat transparent;}
a.button-invest:hover {background:url(/images/dt/nav_elements/buttonsCF/invest_blue.gif) no-repeat transparent;}
a.button-creategroup {background:url(/images/dt/nav_elements/buttonsCF/createGroup_lgrey2.gif) no-repeat transparent;}
a.button-creategroup:hover {background:url(/images/dt/nav_elements/buttonsCF/createGroup_blue.gif) no-repeat transparent;}
a.button-deletegroup {background:url(/images/dt/nav_elements/buttonsCF/deleteGroup_grey.gif) no-repeat transparent;}
a.button-deletegroup:hover {background:url(/images/dt/nav_elements/buttonsCF/deleteGroup_orange.gif) no-repeat transparent;}
a.button-return_to_cart {background:url(/images/dt/nav_elements/return_to_cart_grey.gif) no-repeat transparent;}
a.button-return_to_cart:hover {background:url(/images/dt/nav_elements/return_to_cart_blue.gif) no-repeat transparent;}

/* CART */
a.button-checkout {background:url(/images/dt/nav_elements/checkout.png) no-repeat transparent;}
a.button-checkout:hover {background:url(/images/dt/nav_elements/checkout.png) no-repeat transparent;}
a.button-add_gift_card {background:url(/images/dt/nav_elements/add_a_gift_card.png) no-repeat transparent;}
a.button-add_gift_card:hover {background:url(/images/dt/nav_elements/add_a_gift_card.png) no-repeat transparent;}
a.button-add_project_gift {background:url(/images/dt/nav_elements/add_a_project_gift.png) no-repeat transparent;}
a.button-add_project_gift:hover {background:url(/images/dt/nav_elements/add_a_project_gift.png) no-repeat transparent;}
a.button-give_project {background:url(/images/dt/nav_elements/give_to_a_project.png) no-repeat transparent;}
a.button-give_project:hover {background:url(/images/dt/nav_elements/give_to_a_project.png) no-repeat transparent;}
a.button-add_deposit {background:url(/images/dt/nav_elements/add_a_deposit.png) no-repeat transparent;}
a.button-add_deposit:hover {background:url(/images/dt/nav_elements/add_a_deposit.png) no-repeat transparent;}

a.button-send_wishlist {background:url(/images/dt/nav_elements/buttonsCF/sendWishlist_grey.gif) no-repeat transparent;}
a.button-send_wishlist:hover {background:url(/images/dt/nav_elements/buttonsCF/sendWishlist_blue.gif) no-repeat transparent;}
a.button-add_project {background:url(/images/dt/nav_elements/buttonsCF/addProjButton_grey.gif) no-repeat transparent;}
a.button-add_project:hover {background:url(/images/dt/nav_elements/buttonsCF/addProjButton_blue.gif) no-repeat transparent;}
a.button-go {background:url(/images/dt/nav_elements/buttonsCF/CF_GObuttonOff.gif) no-repeat transparent;}
a.button-go:hover {background:url(/images/dt/nav_elements/buttonsCF/CF_GObuttonOver.gif) no-repeat transparent;}
a.button-invitemembers {background:url(/images/dt/nav_elements/buttonsCF/newMemberOff.gif) no-repeat transparent;}
a.button-invitemembers:hover {background:url(/images/dt/nav_elements/buttonsCF/newMemberOver.gif) no-repeat transparent;}


a.button-add_gift_card, a.button-add_gift_card span,
a.button-add_project_gift, a.button-add_project_gift span,
a.button-give_project, a.button-give_project span,
a.button-add_deposit, a.button-add_deposit span,
a.button-checkout, a.button-checkout span,
a.button-go, a.button-go span {
  float:right;
}

a.button-go {
   width:35px;
}

.blueblock {}
.blueblock a {
  text-decoration:none;
  display:block;
  color:#FFF;
  padding:0 0 0 3px;
}
.blueblock a:link, .blueblock a:visited {background:transparent url(/images/dt/nav_elements/buttonsCF/button_blueGrey_228.gif) no-repeat;}
.blueblock a:hover, .blueblock a:active {background:transparent url(/images/dt/nav_elements/buttonsCF/button_orange_228.gif) no-repeat;}

/* 
Ecards
======*/
#ecardthumbs  {
  margin:0;
  padding:0;
}
#ecardthumbs li {
  display:inline;
  margin:4px;
}

/* 
US TAXES
========*/
.usTaxLink {
  float: right;
  background:transparent url(/images/dt/icons/USflag_icon.png) no-repeat scroll 7px 9px;
  font-family:Verdana, Arial, Helvetica, sans-serif;
  font-size:11px;
  line-height:14px;
  margin-right:200px;  
  margin-top: 7px;
  padding-left:26px;
  padding-top:10px;
}

/* featured projects */
.featured-project{
  clear:both;
/*  height: 200px;
  padding-bottom:80px; */
}

div#featured-projects {
  margin-top: 40px;
}

.project-title a{
	float: left;
	text-decoration: none;
	font-weight: bold;
	font-size: 14px;
	color: #333333;
}

.project-title a:hover{
  text-decoration:underline;
  color:#E84526;
}

.project-pre-info {
  font-size: 13px;
}

.project-pre-info span strong{
	color: #333333;
}

.project-content{
  width:540px;
  float:left;
}

.indented {
  padding-left: 50px;
}

.project-sidebar{
  width: 25%;
  float:right;
  padding-bottom:20px;
}
.project-sidebar .quickfacts ul{
  list-style-type:none;  
}

/*
SEARCH, layout and forms
=====*/
.projects-search-home h1 {
}

.search-header {
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.projects-search-box, .wrapper-adv-search-box{
  text-align:center;
  font-size: 18px;
}

.projects-search-box input{
  width: 400px;
  font-size: 20px;
}

.predefined-searches {
  width:725px;
  margin: 0 auto;
}

.predefined-search-list {
  float: left;
  margin-right: 20px;
  font-size: 12px;
}

.predefined-search-list a{
	color: #666666;
}


.predefined-search-list h3{
  font-weight: bold;
  font-size: 14px;
}

.predefined-search-list a{
text-decoration:none
}

.predefined-search-list a:hover{
text-decoration:underline;
color:#E84526
}


.filter-your-results{
}

.filter-your-results a{
  text-decoration: none;
}
.filter-your-results a:hover{
  text-decoration:underline;
  color:#006600;
}

form#advanced_search {
  padding: .5em 0px;
}
input.adv_submitreplace {
  border:0;
  font-size:0;
}
#adv_search_msg{
  font: 55% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
  display:inline;
}

form#project_search{
  display:inline;
  margin: 0 20px;
}

#search-bar-wrapper{
  width: 700px;
  margin: 0 auto;
  padding: 0 5px;
  border-top: 1px solid #979797;
  border-left: 1px solid #979797;
  border-right: 1px solid #979797;
  border-bottom: 2px solid #979797;
}

#search-bar-wrapper-no-border{
  width: 700px;
  margin: 0 auto;
  padding: 0 5px;
}

.close-button{
  float: right;
  w/idth:18px;
  margin-top: 5px;
  height: 18px;
  font-size:80%;
  b/order: 1px solid black;
  cursor: pointer;
}

.search-example-text {
  padding-right: 40px;
}

/* attribute selector */
form#project_search input.submitreplace {
  width:35px;
  height:20px;
  vertical-align: middle;
  background: url(/images/dt/nav_elements/buttonsCF/CF_GObuttonOff.gif) no-repeat top left;
}
form#project_search input.submitreplace:hover{
  background-image: url(/images/dt/nav_elements/buttonsCF/CF_GObuttonOver.gif);
}



/* Project search result specific */
.search-result-info {
  font-size: 14px;
  margin-bottom: 5px;
}

.projectSearchResultHeader {
  border-bottom: 1.5px solid black;
  padding: 0;
  padding-top: 10px;
  display: block;
  margin-bottom: 8px;
}

.small-sector-images {
  background: none;
  float: right;
  padding-top: 8px;  
}

.small-sector-images img{
  margin-left: 3px;
}

.searchResultLocationLink {
  clear:left;
}

.searchResultLocationLink a{
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.project-sidebar{
  width: 250px;
  float:right;
}

.project-sidebar div {   
}
.project-sidebar span {
}

.project-sidebar .quickfactsHeader{
  font-size: 0.75em;
  font-weight: bold;
}

.quickfactsSidebarGive {
  float: right;
}

.give-disambiguation-box {
  border-left: 1px solid #666;
  width: 200px;
  margin-left:20px;
  margin-bottom: 15px;
  padding-left: 5px;
}
.give-disambiguation-box a{
  color:#360;
  text-decoration: none;
}

/* project accordion */
#project-accordion{
  width:250px;
  height:227px;
  border: 1px solid #C0C0C0;
  margin-bottom: 10px;
  float: right;  
}

div.accordion {
  position: relative; /* required for bounding--works around a "peculiarity" in Prototype */
}

div.accordion-toggle{
  position: relative; /* required for effect */
  z-index: 10;    /* required for effect */
  height:24px;
  background: url(/images/dt/backgrounds/accordion_tab.gif) top left;
  cursor: pointer;
  padding-left:10px;
  font-size:14px;
}

div.accordion-toggle-active{
	background: #E84526;
	color: #FFFFFF;
	padding-left: 10px;
	font-size:14px;
	padding-top:4px;
}

div.accordion-content{
  overflow: hidden;  /* required for effect */
  padding-left: 10px;
  padding-right: 10px;
  height:156px;
}


/* project flickr slide show */
#project-flickr-slide-show{
  width:150px;
  height:150px;
  display: inline;
  vertical-align:top;
  float:right;
  overflow:hidden;
}
#flickr-wrapper{
  
  width:150px;
  display:inline;
  float:right;
  text-align:center;
  padding-left: 10px;
}
#flickr-wrapper .flickr-left-link{
  text-align:left;
}

#flickr-wrapper .flickr-right-link{
  text-align:right;
}


#project_budget{
  font-size:
/* project details */
.project-details {
}

.detail-tabs {
  float:left;
  width:100%;
  background: url("/images/dt/nav_elements/tab-line-green.gif") bottom repeat-x;
  padding:0;
  line-height:normal;
  margin-bottom:0;
}

.detail-tabs ul {
  margin:0;
  padding:0px 5px 0 5px;
  list-style:none;
}
.detail-tabs li {
  display:inline;
  margin:0;
  padding:0;
}

.detail-tabs a.detail-tab{
  float:left;
}

.detail-tabs a.nav-tab {
  float:left;
  background:#E64626 url("/images/dt/nav_elements/tabs-green.png") no-repeat left top;
  padding:0 0 0 9px;
  text-decoration:none;
  font-size: 14px;
  font-weight: bold;
  margin-right:4px;
  color:#EEE;  
}

.detail-tabs a.nav-tab span {
  float:left;
  display:block;
  background:#E64626 url("/images/dt/nav_elements/tabs-green.png") no-repeat right top;
  padding:4px 12px 3px 3px;
}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
.detail-tabs a.nav-tab span {float:none;}
/* End IE5-Mac hack */

.detail-tabs .active a.nav-tab span {
  padding-bottom:4px;
}
.detail-tabs a.nav-tab:hover, .detail-tabs a.nav-tab:hover span {
  background-color:#FFF;
  color:#333;
}
.detail-tabs .active a.nav-tab span,  .detail-tabs .active a.nav-tab, .detail-tabs .active a.nav-tab:hover, .detail-tabs .active a.nav-tab:hover span {
  background-color:#FFF;
  color: #333;
}

.key_measures {
  padding-left: 10px;
}

.key_measure {
  padding-bottom: 10px;
}

.key_measure_numbers {
  font-size: 0.875em;
}

.key_measure_graph {
  padding-left: 20px;
}

/**********************************/
.detail-content{
  clear:both;
  padding:14px;
  border-left:1px solid #E84526;
  border-right:1px solid #E84526;
  border-bottom:1px solid #E84526;
}

.detail-content #project_plan li {
  list-style: none;  
}

