/*
Project Body
============*/
div.projectRank {
    margin:.625em 0 .5em 0;
}
div.projectRank strong {
    color:#360;
}

div.projectRank ul {
	margin:0 0 1.125em 0;
}

div.projectRank li {
    display:inline;
    list-style:none;
	padding:0 0 0.1875em 0em;
}


/*
Project Highlight List
======================*/
.projecthighlight {}
.projecthighlight ul {
	margin:0pt 0pt 1.125em 0em;
}
.projecthighlight li {
    font-family:Arial, Helvetica, sans-serif;
    background:url(/images/dt/nav_elements/arrows/disc_arrow.gif) no-repeat transparent 0px 0.5em;
    list-style-type:none;
    font-size:0.6875em; /* 11px */
    margin:0.125em 0;
    padding:0.1875em 0 0.25em 14px;
    border-bottom:solid 1px #DDD;
}
.projecthighlight strong {
    color:#360;
}

/*
Project Actions
===============*/
.projectactions {}
.projectactions ul {
    list-style:none;
    margin:0;
}
.projectactions li {
    font-family:Arial, Helvetica, sans-serif;
    list-style-display:none;
    font-size:0.6875em; /* 11px */
    margin:0.125em 0;
    padding:0.1875em 0 0.25em 0;
    border-bottom:solid 1px #DDD;
}
.projectactions strong {
    color:#360;
}

/*
Project Info
===============*/

.projectinfo {
	background:url(/images/dt/2pxGrnLine.gif) repeat-x 0 bottom;
	margin:0;
}

/*
Quick Facts
===========*/
.quickfacts {}

.quickfacts ul, .content-quickfacts ul {
	margin:0 0 1.125em 0;
    list-style-type:none;
}

div.projectlist .project .quickfacts ul li, div.projectlist .project .content-quickfacts ul li,
.quickfacts ul li, .content-quickfacts ul li, .quickfacts ol li {
    font-family:Arial, Helvetica, sans-serif;
    font-size:0.6875em; /* 11px */
    margin:0em 0;
    padding:0.25em 0 0.25em 0;
    /* border-bottom:1px solid #DDD; */
}
.quickfacts ol li {
    border:0;
}

.content-quickfacts li {
	border:0;
}

.quickfacts strong, .content-quickfacts strong {
    color:#360;
}
.quickfacts ol, .content-quickfacts ol {
    margin-left:1.5em;
}
.sidebar-give {
	float: right;
}

/*
Group Messages
===============*/
.group_wall {
	background:url(/images/dt/2pxGrnLine.gif) repeat-x 0 bottom;
	font-family:Georgia,"Times New Roman",Times,serif;
	font-size:.9em;
	margin:0.375em 0 0 0;
	padding:0 0 1px 0;
}

.group_wall-attribution strong {
	color:#360;
	font-size:1em;
}

/*
Member List
===========*/
#memberlist li {
	font-family:Arial,Helvetica,sans-serif;
	font-size:11px;
	list-style-type:none;
    border-bottom:solid 1px #DDD;
}

#memberlist .name {
	float:left;
	width:254px;
}

#memberlist .date {
	float:left;
	text-align:left;
	width:80px;
}

#memberlist .mtype {
	float:right;
	width:80px;
}

/*
Transaction List
===========*/

#transaction-list {
	padding:0 0 0 10px;
}

#transaction-list table {
	border:1px solid #DDD;
	font-size:12px;
}

#transaction-list th {
	background:#999;
	color:#FFF;
	font-size:1.1em;
	font-weight:bold;
}
#transaction-list td, #transaction-list th {
	margin:0pt 1px 0pt 0pt;
	padding:1px;
}

/*
Project Buttons
===============*/
div.projectbuttons {
    margin:0.5em 0;
    margin-top:1em;
}

a.button-connect, a.button-connect span {
    display:block;float:left;
    margin-top:3px;
    width:92px;
    height:20px;
}
a.button-connect {background:url(/images/dt/nav_elements/buttonsCF/connectButton_grey.gif) no-repeat transparent;}
a.button-connect:hover {background:url(/images/dt/nav_elements/buttonsCF/connectButton_blue.gif) no-repeat transparent;}

a.button-gift, a.button-gift span, 
a.button-invest, a.button-invest span,
a.button-creategroup, a.button-creategroup span,
a.button-checkout, a.button-checkout span,
a.button-return_to_cart, a.button-return_to_cart span,
a.button-add_gift_card, a.button-add_gift_card span,
a.button-add_project_gift, a.button-add_project_gift span,
a.button-add_deposit, a.button-add_deposit span,
a.button-send_wishlist, a.button-send_wishlist span,
a.button-add_project, a.button-add_project span,
a.button-deletegroup, a.button-deletegroup span,
a.button-invitemembers, a.button-invitemembers span {
    display:block;
    float:left;
    width:104px;
    height:24px;
    margin-bottom:.5em;
}
a.button-send_wishlist, a.button-send_wishlist span,
a.button-add_project, a.button-add_project span {
	width:124px;
}
a.button-return_to_cart, a.button-return_to_cart span {width:170px;}
a.button-add_project_gift, a.button-add_project_gift span {width:150px;}
a.button-add_gift_card, a.button-add_gift_card span {width:140px;}
a.button-add_deposit, a.button-add_deposit span {width:130px;}

a.button-invitemembers, a.button-invitemembers span{
    width:102px;
    height:16px;
}
a.button-gift span,
a.button-invest span, 
a.button-creategroup span, 
a.button-connect span,
a.button-checkout span,
a.button-return_to_cart span,
a.button-add_gift_card span,
a.button-add_project_gift span,
a.button-add_deposit span,
a.button-add_project span,
a.button-send_wishlist span,
a.button-go span,
a.button-deletegroup span,
a.button-invitemembers span {
    text-indent:-9999px;
}
a.button-gift {background:url(/images/dt/nav_elements/buttonsCF/giftProject_lgrey2.gif) no-repeat transparent;}
a.button-gift:hover {background:url(/images/dt/nav_elements/buttonsCF/giftProject_blue.gif) no-repeat transparent;}
a.button-invest {background:url(/images/dt/nav_elements/buttonsCF/invest_grey.gif) no-repeat transparent;}
a.button-invest:hover {background:url(/images/dt/nav_elements/buttonsCF/invest_blue.gif) no-repeat transparent;}
a.button-creategroup {background:url(/images/dt/nav_elements/buttonsCF/createGroup_lgrey2.gif) no-repeat transparent;}
a.button-creategroup:hover {background:url(/images/dt/nav_elements/buttonsCF/createGroup_blue.gif) no-repeat transparent;}
a.button-deletegroup {background:url(/images/dt/nav_elements/buttonsCF/deleteGroup_grey.gif) no-repeat transparent;}
a.button-deletegroup:hover {background:url(/images/dt/nav_elements/buttonsCF/deleteGroup_orange.gif) no-repeat transparent;}
a.button-checkout {background:url(/images/dt/nav_elements/checkout_grey.gif) no-repeat transparent;}
a.button-checkout:hover {background:url(/images/dt/nav_elements/checkout_blue.gif) no-repeat transparent;}
a.button-return_to_cart {background:url(/images/dt/nav_elements/return_to_cart_grey.gif) no-repeat transparent;}
a.button-return_to_cart:hover {background:url(/images/dt/nav_elements/return_to_cart_blue.gif) no-repeat transparent;}
a.button-add_gift_card {background:url(/images/dt/nav_elements/add_gift_card_grey.gif) no-repeat transparent;}
a.button-add_gift_card:hover {background:url(/images/dt/nav_elements/add_gift_card_blue.gif) no-repeat transparent;}
a.button-add_project_gift {background:url(/images/dt/nav_elements/add_project_gift_grey.gif) no-repeat transparent;}
a.button-add_project_gift:hover {background:url(/images/dt/nav_elements/add_project_gift_blue.gif) no-repeat transparent;}
a.button-add_deposit {background:url(/images/dt/nav_elements/add_deposit_grey.gif) no-repeat transparent;}
a.button-add_deposit:hover {background:url(/images/dt/nav_elements/add_deposit_blue.gif) no-repeat transparent;}
a.button-send_wishlist {background:url(/images/dt/nav_elements/buttonsCF/sendWishlist_grey.gif) no-repeat transparent;}
a.button-send_wishlist:hover {background:url(/images/dt/nav_elements/buttonsCF/sendWishlist_blue.gif) no-repeat transparent;}
a.button-add_project {background:url(/images/dt/nav_elements/buttonsCF/addProjButton_grey.gif) no-repeat transparent;}
a.button-add_project:hover {background:url(/images/dt/nav_elements/buttonsCF/addProjButton_blue.gif) no-repeat transparent;}
a.button-go {background:url(/images/dt/nav_elements/buttonsCF/CF_GObuttonOff.gif) no-repeat transparent;}
a.button-go:hover {background:url(/images/dt/nav_elements/buttonsCF/CF_GObuttonOver.gif) no-repeat transparent;}
a.button-invitemembers {background:url(/images/dt/nav_elements/buttonsCF/newMemberOff.gif) no-repeat transparent;}
a.button-invitemembers:hover {background:url(/images/dt/nav_elements/buttonsCF/newMemberOver.gif) no-repeat transparent;}


a.button-add_gift_card, a.button-add_gift_card span,
a.button-add_project_gift, a.button-add_project_gift span,
a.button-add_deposit, a.button-add_deposit span,
a.button-checkout, a.button-checkout span,
a.button-go, a.button-go span {
    float:right;
}

 a.button-go {
	width:35px;
}

.blueblock {}
.blueblock a {
    text-decoration:none;
    display:block;
    color:#FFF;
    padding:0 0 0 3px;
}
.blueblock a:link, .blueblock a:visited {background:transparent url(/images/dt/nav_elements/buttonsCF/button_blueGrey_228.gif) no-repeat;}
.blueblock a:hover, .blueblock a:active {background:transparent url(/images/dt/nav_elements/buttonsCF/button_orange_228.gif) no-repeat;}

/* 
Ecards
======*/
#ecardthumbs  {
    margin:0;
    padding:0;
}
#ecardthumbs li {
    display:inline;
    margin:0 8px 8px 0;
}

/* 
US TAXES
========*/
.usTaxLink {
    background:transparent url(/images/dt/icons/USflag_icon.png) no-repeat scroll 7px 9px;
    font-family:Arial,Helvetica,sans-serif;
    font-size:11px;
    line-height:14px;
    margin-left:7px;
    padding-left:26px;
    padding-top:10px;
}

/* featured projects */
.featured-project{
	clear:both;
/*	height: 200px;
	padding-bottom:80px; */
}
.project-title a{
  float: left;
	text-decoration:none;
	color:#336600;
}
.project-title a:hover{
	text-decoration:underline;
}

.project-pre-info {
	font-size: 13px;
}

.project-pre-info span strong{
	color: #336600;
}

.project-content{
	width:65%;
	float:left;
}

.project-sidebar{
	width: 25%;
	float:right;
}
.project-sidebar .quickfacts ul{
	list-style-type:none;	
}

/*
SEARCH, layout and forms
=====*/
.projects-search-home h1 {
}

.projects-search-box{
	text-align:center;
	font-size: 18px;
}

.projects-search-box input{
  width: 400px;
	font-size: 24px;
}

.predefined-searches {
	width:650px;
	margin: auto;
}

.predefined-search-list {
  float: left;
  margin-right: 20px;
  font-size: 14px;
}

.predefined-search-list h3{
  font-weight: bold;
}

.predefined-search-list a{
  text-decoration: none;
}


.filter-your-results{

}

.filter-your-results a{
	text-decoration: none;
}
.filter-your-results a:hover{
	text-decoration:underline;
}

form#advanced_search {
	padding: .5em 0px;
}
input.adv_submitreplace {
    border:0;
    font-size:0;
}
#adv_search_msg{
	font: 55% "Lucida Grande", "Trebuchet MS", Verdana, sans-serif;
	display:inline;
}

form#project_search{
	display:inline;
	margin: 0 20px;
}

#search-bar-wrapper{
	width: 700px;
	margin: 0 auto;
	padding: 0 5px;
	border-top: 1px solid #979797;
	border-left: 1px solid #979797;
	border-right: 1px solid #979797;
	border-bottom: 2px solid #979797;
}
.hider{
	width: 65px;
	margin: 0 44px;
	color: #f0f0f0;
	font-size:80%;
	background-color: #979797;
	border-left: 1px solid #979797;
	border-bottom: 1px solid #979797;
	border-right: 1px solid #979797;
	padding: 0 5px;
}


/* attribute selector */
form#project_search input.submitreplace {
    width:35px;
    height:20px;
	vertical-align: middle;
	background: url(/images/dt/nav_elements/buttonsCF/CF_GObuttonOff.gif) no-repeat top left;
}
form#project_search input.submitreplace:hover{
	background-image: url(/images/dt/nav_elements/buttonsCF/CF_GObuttonOver.gif);
}



/* Project search result specific */
.search-result-info {
  font-size: 14px;
  margin-bottom: 5px;
}

.projectSearchResultHeader {
  border-bottom: 1.5px solid black;
  padding: 0;
  display: block;
  margin-bottom: 8px;
}

.searchResultSectorImages {
  background: none;
	float: right;
	vertical-align: top;
	margin-top: 8px;	
}

.searchResultSectorImages img{
	margin-left: 3px;
}


.searchResultLocationLink {
	clear:left;
}

.searchResultLocationLink a{
  font-size: 12px;
  font-weight: bold;
  text-decoration: none;
}

.project-sidebar{
	width: 35%;
	float:right;
	
}
.project-sidebar div {
	 
}
.project-sidebar span {
	 margin: 10px;
}
.project-sidebar .quickfactsHeader{
  font-size: 13px;
  font-weight: bold;
}

.searchResultsQuickfacts ul{
	list-style-type:none;	
}

.searchResultsQuickfacts li{
	background:transparent url(/images/dt/nav_elements/arrows/disc_arrow.gif) no-repeat scroll 0px 4px;
	padding:0 0 0.1875em 0.875em;
	font-family:Arial, Helvetica, sans-serif;
}

.quickfactsSidebarGive {
  float: right;
}

/* project accordion */
#project-accordion{
	width:250px;
	height:300px;
}

div#project-accordion{
   margin: 10px;
}

div.accordion {
    position: relative; /* required for bounding--works around a "peculiarity" in Prototype */
}

div.accordion-toggle{
    position: relative; /* required for effect */
    z-index: 10;		/* required for effect */
		height:24px;
		background: url(/images/dt/backgrounds/accordion_tab.gif) top left;
    cursor: pointer;
}

div.accordion-toggle-active{
    background: #336600;
		color:#C0C0C0;
		padding-left:10px;
}

div.accordion-content{
    overflow: hidden;	/* required for effect */
    padding-left: 10px;
		padding-right: 10px;
}


/* project flickr slide show */
#project-flickr-slide-show{
	width:150px;
	height:150px;
	display: inline;
	vertical-align:top;
	float:right;
	overflow:hidden;
}
#flickr-wrapper{
	
	width:150px;
	display:inline;
	float:right;
	text-align:center;
}
#flickr-wrapper .flickr-left-link{
	text-align:left;
}

#flickr-wrapper .flickr-right-link{
	text-align:right;
}


#project_budget{
	font-size: 8pt;
}

/* project tabs overview */
.section-body{
	background:#ffffff;
	
	padding:14px;
}
#ul-project, .li-project{border:0; margin:0; padding:0; list-style:none;}
#ul-project{
	top:10px;
	border-bottom:solid 1px #336600;
	height:29px;
}
.li-project{float:left; margin-right:2px;}
.tab a:link, .tab a:visited{
	background:url(/images/dt/nav_elements/tab-round.png) right 60px;
	color:#000;
	display:block;
	d\isplay: inline-block;
	font-weight:bold;
	height:30px;
	line-height:30px;
	text-decoration:none;
}
.tab a span{
	background:url(/images/dt/nav_elements/tab-round.png) left 60px;
	display:block;
	d\isplay: inline-block;
	height:30px;
	margin-right:14px;
	padding-left:14px;
}
.tab a:hover{
	background:url(/images/dt/nav_elements/tab-round.png) right 30px;
	display:block;
	color:#e0ded0;
}
.tab a:hover span{
	background:url(/images/dt/nav_elements/tab-round.png) left 30px;
	display:block;
}

/* tabs active elements				*/
.active a:link, .active a:visited, .active a:visited, .active a:hover{
	color:#ffffdd;
	background:url(/images/dt/nav_elements/tab-round.png) right 0 no-repeat;
} 
.active a span, .active a:hover span{
	background:url(/images/dt/nav_elements/tab-round.png) left 0 no-repeat;
}

/*button give */
.project-sidebar .button-give {
	float:right;
 	margin-right:15px;
}
