body {
	font:.9em/1.4em Arial, Helvetica, sans-serif;
}

#container p, #container td, #container div {
	line-height:1.5em;
}
#container p {
	margin-bottom:1em;
}

a:link {
	color:#351;
}
a:visited {
	color:#240;
}
a:hover {
	color:#351;
	text-decoration:none;
}
a:active {
	color:#351;
	text-decoration:none;
}

h1, h2, h3, h4, h5 {
	font-family:Georgia, Times, "Times New Roman", serif;
	font-weight:bold;
	color:#351;
}
h1 { font-size:1.1em;  margin:.9em  0 .25em 0; }
h2 { font-size:1.08em; margin:.92em 0 .25em 0; }
h3 { font-size:1.06em; margin:.94em 0 .25em 0; }
h4 { font-size:1.04em; margin:.96em 0 .25em 0; }
h5 { font-size:1.02em; margin:.98em 0 .25em 0; }

strong, b {
	font-weight:bold;
}
em, i {
	font-style:italic;
}
ul {
	margin:0 0 1em 1em;
	list-style:disc;
}

#footer {
	font-size:.8em;
}


div.column-title {
	color:#666;
	font-weight:bold;
	background:#CCC;
	border:1px solid #999;
	width:196px;
	height:72px;
	padding:40px 16px 16px 16px;
	margin-bottom:.8em;
	overflow:hidden;
}

/* ------------------------------
GENERAL TEXT CONTENT SHOULD USE div.article, h2.article-title and div.article-body
------------------------------ */
div.article {
	font-family:Georgia, Times, "Times New Roman", serif;
}
.article-title {
	color:#000;
	font-weight:bold;
	font-size:1.1em;
	margin: .9em 0 .25em 0;
}
div.article-body {
}

/* ------------------------------
3-column design-specific type rules
------------------------------ */
#contentcontainer #rail-right {
	font-size:.94em;
}

/* ------------------------------
2-column design-specific type rules
------------------------------ */
#contentcontainer-2col #rail-right p {
	font-size:.94em;
	margin-bottom:.5em;
}
#contentcontainer-2col #rail-right h1,
#contentcontainer-2col #rail-right h2, 
#contentcontainer-2col #rail-right h3, 
#contentcontainer-2col #rail-right h4 {
	color:#351;
}