body {
  font-size:100%;
  line-height:1.125em; /* 16x1.125=18px */
  color:#676767;
  background:#FFF;
  font-family:Verdana, Arial, Helvetica, sans-serif;
}

a:link, a:visited {
  text-decoration: underline;
  color: #525f77;
  font-family:Verdana, Arial, Helvetica, sans-serif;

}
a:hover, a:active {
  text-decoration: none;
  color: #f79f35;
  font-family:Verdana, Arial, Helvetica, sans-serif;

}
p a:link, p a:visited {
  color:#525f77;
  font-family:Verdana, Arial, Helvetica, sans-serif;

}
h1 a:link, h1 a:visited, 
h2 a:link, h2 a:visited, 
h3 a:link, h3 a:visited, 
h4 a:link, h4 a:visited {
  color:#525f77;
  text-decoration: none;
}
h1 a:hover, h1 a:active, 
h2 a:hover, h2 a:active, 
h3 a:hover, h3 a:active, 
h4 a:hover, h4 a:active {
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight:normal;
  color:#000;
}
h1 {
  clear:both;
  font-size: 16px;
  line-height: 2em;/* 16x2=36px */
  padding-bottom: 0px;
  margin: 0;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
h2 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000000;
   margin: 1.5em 0 .25em 0; /* 16x1.125em=18px */
  padding: 0 0 .25em 0; /* see margin note... */
}
h3 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #000000;
  margin:.7em 0 .5em 0; /* 15x1.2=18px */
}
h4 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  margin:.786em 0 .5em 0; /* 14x1.286=18px */
}
h5 {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  margin:1em 0 .5em 0; /* 12x1.5=18px */
  border-bottom:1px solid #666;
  /* text-transform:uppercase; */
  /* font-variant:small-caps; */
  color:#E84524;
}

ul {
  margin:0 0 1.125em 1em;
  list-style:disc outside;
  line-height:20px;
}
ul li {list-style-type:outside;}
li, blockquote {
  font-size:12px;
    line-height:20px;
}
li li {
  font-size:12px;
    line-height:20px;
  }
p, li {
  font-size:12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  margin:0 0 1em 0;
    line-height:20px;
}
li {
  margin-bottom:0;
    line-height:20px;
}
.textsm, #whats-this {
  font-family:Arial, Helvetica, sans-serif;
  font-size:12px;
}
h1 .textsm {
  font-size:12px;
  font-family:Arial, Helvetica, sans-serif;
}

#header {
  font-size:12px;
}
#header li {
  font-size:12px;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
#footer {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  margin:1em 0;
  padding:1em 0;
  border-top:1px solid #CCC;
  text-align:center;
}
#footer ul {margin:0;padding:0;}
#footer li {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  margin-bottom:0;
}
#footer li {
  display: inline;
  list-style-type: none;
  padding-right:1em;
}
#footer div a:link, #footer div a:visited {
  color:#360;
}
ol {
  margin-left:2em;
  list-style: decimal outside;
}

a.linkminor {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size:12px;
  padding-left:13px;
}
a.linkminor:link, a.linkminor:visited {
  background:transparent url(/images/dt/nav_elements/arrows/blue_arrowSM.gif) no-repeat scroll 0px 2px;
  color:#333333;
}
a.linkminor:hover, a.linkminor:active {
  background:transparent url(/images/dt/nav_elements/arrows/orange_arrowSM.gif) no-repeat scroll 0px 2px;
  color:#F60;
}

.highlight {
  background-color:#FFD;
}