<div style="width:600px;margin:auto;">
<h1 id="pagetitle" style="text-align:center;padding:16px 0;">
  Our name has changed.<br />
  Our mission hasn't
</h1>

<p>Up until now, ChristmasFuture has focused a lot of our attention on encouraging a different kind of gift-giving during the holiday season.  Even though our kind of gift-giving is something we want to encourage everyone to do - all year round.</p>
<p>Which is why we've now changed our name to UEnd: so that we can empower an even broader audience to help people in the developing world.  And to make sure we put an end to extreme poverty in our lifetime.</p>
<p>To help re-introduce us to your friends, families and co-workers, please visit our new website <a href="/">www.uend.org</a> after October 15, 2009 and send a UEnd: gift card this holiday.</p>

<p style="text-align:center;">
  <a href="/"><img src="/images/dt/brand_elements/cf_uend_logos.jpg" alt="ChristmasFuture and Uend Logos" /></a>
</p>

<p style="border-top:#DDD 1px solid;text-align:center;padding:16px;">
  2009 &copy; ChristmasFuture Foundation | Canadian charity<br />
  (850277120RR0001)
</p>
</div>