<div class="gift line_item">
  <% if item.project_id? && item.project %>
    <%= link_to item.project.name, dt_project_path(item.project_id) %>
  <% else %>
    Gift Card
  <% end %>
  <br><span class="small" style="font-weight:normal">To: <a href="mailto:<%=h item.to_email %>"><%=h(item.to_name || item.to_email.sub(/@.*/, '')) %></a></span>
</div>
