<div class="investment line_item">
  <% if item.project %>
    <% if item.sector %>
      Your Specific Project Investment: <%= link_to item.project.name, [:dt, item.project] %>,
      from your donation to the <%= link_to item.sector.name, [:dt, item.sector] %> cause
    <% else %>
      <%= link_to(item.project.name, [:dt, item.project]) %>
    <% end %>
  <% elsif item.sector %>
    Investment in the <%= link_to item.sector.name, [:dt, item.sector] %> cause
  <% else %>
    Investment
  <% end %>
</div>
