<% 
odd_or_even = sidebar_line_item_counter % 2 == 0 ? 'even' : 'odd'
@line_item_counter_from_0 = sidebar_line_item_counter
case sidebar_line_item.class.to_s
when "Gift"
  partial_name = "gift"
when "Investment"
  partial_name = "investment"
when "Deposit"
  partial_name = "deposit"
when "Pledge"
  partial_name = "pledge"
end
-%>
<tr class="<%= odd_or_even %>">
  <td>
    <%= render :partial => "dt/cart/#{partial_name}", :locals => { :line_item => sidebar_line_item } %>
  </td>
  <td class="numeric money"><%= number_to_currency(sidebar_line_item.amount) %></td>
</tr>
