<table cellpadding="0" cellspacing="0" id="cart">
  <colgroup>
    <col style="width:75%;" />
    <col style="width:20%;" />
  </colgroup>
  <tr>
    <th>Item</th>
    <th class="numeric">Amount</th>
  </tr>
  <%= render :partial => "dt/cart/sidebar_line_item", :collection => @cart.items %>
  <tr class="footer">
    <td class="numeric money">Cart Total</td>
    <td class="numeric money"><%= number_to_currency(@cart.total) %></td>
  </tr>
</table>
<% if @order %>
  <div class="textsm" style="text-align:right;line-height:1.25;margin-bottom:.5em;">
    <em><strong>Not the items you want?</strong><br />
    <%= link_to "Clear your order and start over.", dt_checkout_path(:clear_cart => 1), :method => :delete, :confirm => "Are you sure you want to clear your order?" %></em>
  </div>
  
  <div class="textsm" style="text-align:right;line-height:1.25;">
    <em><strong>Want to add more to your cart?</strong><br />
    <%= link_to "Go back to this page.", dt_checkout_path, :method => :delete %></em>
  </div>
<% end %>