<p>
  <b>Status type:</b>
  <%=h @project_status.status_type %>
</p>

<p>
  <b>Description:</b>
  <%=h @project_status.description %>
</p>


<%= link_to 'Edit', edit_project_status_path(@project_status) %> |
<%= link_to 'Back', project_statuses_path %>