  <footer class="content">
    <div class="container">
      <div class="span-2 prepend-2 append-1">
        <ul>
          <li><strong>End Poverty</strong></li>
          <li><%= link_to "u:forward", new_dt_gift_path %></li>
          <li><%= link_to "u:powered", dt_upowered_pat %></li>
          <li><%= link_to "u:direct", new_dt_investment_path %></li>
        </ul>
      </div>

      <div class="span-2 append-1">
        <ul>
          <li><strong>Poverty Insight</strong></li>
          <li><a href="#">Newsletter</a></li>
        </ul>
      </div>

      <div class="span-2 append-1">
        <ul>
          <li><strong>About us</strong></li>
          <li><a href="#">What we do</a></li>
          <li><a href="#">Our partners</a></li>
          <li><a href="#">Proof of Impact</a></li>
          <li><a href="#">FAQs</a></li>
          <li><a href="#">Terms of Use</a></li>
          <li><a href="#">Privacy</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>

      <div class="span-2 append-1">
        <ul>
          <li><strong>Get Involved</strong></li>
          <li><a href="#">OneYoga</a></li>
          <li><a href="#">Volunteer</a></li>
          <li><a href="#">School Program</a></li>
        </ul>
      </div>

      <div class="span-2 append-1">
        <ul>
          <li><strong>Contact us</strong></li>
          <li><a href="mailto:info@uend.org">Email</a></li>
        </ul>
        <ul>
          <li><strong>Social</strong></li>
          <li><a href="http://www.facebook.com/uendfoundation">Facebook</a></li>
          <li><a href="http://twitter.com/UEnd_org">Twitter</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>
      </div>
    </div>

    <p id="copyright"><small>&copy; Copyright UEnd <%= (2011..Date.today.year).to_a.join(', ') %>. All Rights Reserved.</small></p>
  </footer>
