  <h5><img src="/images/sidebar/newsletter_signup.png" width="100" height="35" alt="Newsletter Signup"></h5>
  <p class="smaller">Expand your poverty world view. Helpful insights, reports from the field and events delivered to your inbox.</p>
  <div class="clearfix">
    <%= link_to "Sign up", new_dt_newsletter_signup_path, :class => "newsletter_signup_link smallbutton" %>
  </div>
