<%= render(:partial => "/bus_admin/place_you_tube_videos/you_tube_video", :collection=>@you_tube_videos)%>
<%= pageinated_links_for_ajax(@you_tube_video_pages, "videos", "/bus_admin/place_you_tube_videos", "videos", nil) %>