<%= error_messages_for 'status' %>

<!--[form:status]-->
<p><label for="status_status_type">Status type</label><br/>
<%= text_field 'status', 'status_type'  %></p>

<p><label for="status_description">Description</label><br/>
<%= text_field 'status', 'description'  %></p>
<!--[eoform:status]-->

