<% for column in Status.content_columns %>
<p>
  <b><%= column.human_name %>:</b> <%=h @status.send(column.name) %>
</p>
<% end %>

<%= link_to 'Edit', :action => 'edit', :id => @status %> |
<%= link_to 'Back', :action => 'list' %>
