<p>
  <b>Category:</b>
  <%=h @status.category %>
</p>

<p>
  <b>Description:</b>
  <%=h @status.description %>
</p>


<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>