<li id="group_news-<%= group_news.id %>" class="list-item">
<div class="group_news-message">
<p><%= group_news.message %></p>
</div>
<div class="group_news-author"><%= group_news.user.full_name %> <%= group_news.created_at %></div>
</li>
