<li>
  <label>Take from my <%= pledge_account.campaign.name %> Pledge Account:</label> 
  $<%= f.text_field :pledge_account_payment, :value => number_with_precision(@order.pledge_account_payment, 2) %>
</li>
