<%- if @cart.subscription? -%>
<div class="notice">
  Please note: This order is a setting up Monthly Giving. Once per month, on this day of the month, you will be charged the contents of your cart.
</div>  
<%- end -%>