<%- if @cart.subscription? -%>
<div class="notice">
  Please note: This order is a setting up Monthly Giving. Once per month, on this day of the month, your subscription will be charged to your credit card.
</div>  
<%- end -%>