<%- if @cart.subscription? -%>
<p class="loud">
  <strong>Please note: Your order is a setting up a <%= number_to_currency(@cart.subscription.amount) %> monthly giving subscription. Once per month, on this day of the month, your subscription will be charged to your credit card.</strong>
</p>  
<%- end -%>