<ul class="wide">
  <%-
    link_item = true
    nav_info = {
      "" => ["Step 1. Billing Info ", new_dt_checkout_path], 
      "payment" => ["Step 2. Payment ", new_dt_checkout_path(:step => "payment")], 
      "confirm" => ["Step 3. Confirmation ", new_dt_checkout_path(:step => "confirm")]
      }
    ["", "payment", "confirm"].each do |key|
      current = (params[:step] ? false : true) if key.empty?
      current = (params[:step] == key ? true : false) unless key.empty?
      link_item = false if current
      title = nav_info[key][0]
      link = nav_info[key][1]
  -%>
  <li<%= ' class="current"' if current %>><%= link_to(title, link_item ? link : "javascript:void(0);" ) %></li>
  <%- end -%>
</ul>
