<ul class="wide">
  <%-
    link_item = true
    nav_info = {
      "support" => ["Step 1. Support ", edit_dt_checkout_path(:step => "support")], 
      "billing" => ["Step 2. Billing Info ", edit_dt_checkout_path(:step => "billing")], 
      "payment" => ["Step 3. Payment ", edit_dt_checkout_path(:step => "payment")], 
      "confirm" => ["Step 4. Confirmation ", edit_dt_checkout_path(:step => "confirm")]
      }
    ["support", "billing", "payment", "confirm"].each do |key|
      current = (@current_step ? false : true) if key.empty?
      current = (@current_step == key ? true : false) unless key.empty?
      link_item = false if current
      title = nav_info[key][0]
      link = nav_info[key][1]
  -%>
  <li<%= ' class="current"' if current %>><%= link_to(title, link_item ? link : "javascript:void(0);" ) %></li>
  <%- end -%>
</ul>
