<%- content_for :html_title do -%>Checkout Complete!<%- end -%>
<%- content_for :page_title do -%>Thank You!<%- end -%>

<p>Thanks! With your generous gift(s) of <%= number_to_currency(@order.amount) %> we're one step closer to changing the world...for good. </p>

<p>We also thank you for supporting the ChristmasFuture Foundation directly!</p>

<h2>Your Account</h2>
<p>Your account has been created and an activation email has been sent to your email address. Please check your email for further instructions.</p>

<h2>Tax Receipt</h2>

<p>A Tax Receipt has been emailed to you. You can also download your Tax Receipt right here.</p>

<div><%= button_to "Download Tax Receipt", {}, :class => "buttonsubmit" %></div>

<h2>Gift(s)</h2>
<p>Your gift emails have are scheduled to be sent. The printable cards have been sent to you via email, but you can also download them here.</p>

<h3>Your gift to <a href="mailto:tim@pivotib.com">Tim Glen</a></h3>
<blockquote>
  Your message here...
</blockquote>
<div><%= button_to "Download Printable Card", {}, :class => "buttonsubmit" %></div>
