  <article class="profile-module">
    <div class="profile-module-top">
      <a href="<%= iend_user_path(profile.id) %>">
        <div class="profile-name"><%= profile.formatted_name %></div>
        <div class="profile-location"><%= profile.formatted_location %></div>
      </a>
    </div>
    <div class="profile-module-bottom">
      <div>Preferred Poverty Sectors:<br><%= profile.formatted_sectors %></div>
    </div>
  </article>
