<% title(params[:name].blank? && params[:sectors].blank? ? 'All Users' : nil ) %>

<div class="results clearfix">
<% @profiles.each_with_index do |profile, i| %>
<div class="span-4 append-bottom<%= ' last' if (i+1)%3 == 0 %>">
  <%= render :partial => 'profile', :locals => { :profile => profile } %>
</div>
<% end %>
</div>

<%= will_paginate @profiles %>