<% content_for :html_title do %>iEnd:Poverty - Sign Up<% end %>

<%= render 'iend/shared/header' %>

<div class="clearfix">
  <div class="span-7 border-right" id="user-signup">
    <h1>Complete Your Registration</h1>
    <%= render 'form' %>
  </div>
  <div class="span-7 last" id="user-login">
    <h2>Already have a UEnd account? Login</h2>
    <%= render 'iend/sessions/form' %>
  </div>
</div>

<% content_for :javascript do %>
  <% javascript_tag do %>
  $(document).ready(function (){
    $("#user_under_thirteen").change(function() {
      if (this.checked) {
        $("#under-thirteen").show()
      } else {
        $("#under-thirteen").hide()
      }
    });
    $("#user_under_thirteen").change();
  });
  <% end %>
<% end %>