<div id="subNavWide">
	<ul class="subNav li">
		<li id="quick-fact-nav-"><%= link_to "Quick Fact Types", quick_fact_types_path %></li>  	
		<li id="quick-fact-list-nav-"><%= link_to "List Quick Facts", quick_facts_path %></li>  	
	</ul>
</div><!-- subNav ends -->
