<% @quickFact = show_quick_facts -%>
    <div class="projectInfo"  id="quickFactInfo-<%= @quickFact.id %>">
      <div class="leftColW">
      	<h2><%= link_to @quickFact.name, edit_quick_fact_path(@quickFact.id), :action => 'new' %></h2>       
        <p><strong>Quick Fact Description: </strong> <%= @quickFact.description%></p>
      </div>    	
    </div>
