<fieldset>
	<% form_for([:dt,postable,postable.news_items.new]) do |f|%>
		Subject: <%= f.text_field :subject %>
		<br/>
		News:
		<%= fckeditor_textarea( "news_item", "content", :toolbarSet => "ChristmasFuture", :height => 200 ) %> 
		<span class="post_button"><%= f.submit "Post" %></span>
	<% end %>
</fieldset>
