<% content_for :rss do %>
	<link href="<%= url_for([:dt,@postable,NewsItem.new])%>.rss" title="RSS 2.0" rel="alternate" type="application/rss+xml" />
<% end %>
<h1>News for <%= @postable.name %> </h1>
<%= render :partial => 'news_item', :collection => @news_items %>
