<!--[task:task_list]-->
    <td><%=h instance.title %></td>
    <td><%=h instance.task_category.category %></td>
    <td><%=h instance.task_status.status %></td>
    <td><%=h instance.start_date %></td>
    <td><%=h instance.end_date %></td>
    <td><%=h instance.etc_date %></td>
<!--[eoftask:task_list]-->