<h1>New task</h1>

<%= error_messages_for :task %>

<% form_for(:task, :url => tasks_path) do |f| %>
  <%= render :partial => 'task_form', :locals => { :f => f, :milestone => @milestone } %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', tasks_path( @milestone ) %>