<%= render :partial => 'task_display', :locals => { :f => @task } %>

<%= link_to 'Edit', edit_task_path( @milestone, @task ) %> |
<!--%= link_to 'History', task_histories_path( @task ) %> | -->
<%= link_to 'Back', tasks_path( @milestone ) %> |
<%= link_to 'Milestone', milestone_path( @milestone.project_id, @milestone.id ) %>