<!-- CONTENT ENDS HERE -->
<td width="76" height="25" class="Head style2">
<div align="left">Partner:</div>
</td>
<td width="584" height="25" bordercolor="#666666">
<div align="left">Partner One</div>
</td>
</tr>
</table>

<br />
</body>
</html>

