<!--[form:partner]-->

  <p>
    <b>Name</b><br />
    <%= f.text_field :name %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_field :description %>
  </p>

  <p>
    <b>Partner type</b><br />
    <%= f.select :partner_type_id, @partnerTypes.collect {|p| [ p.name, p.id ] }  %>
  </p>
  
  <p>
    <b>Partner status</b><br/>
    <%= f.select :partner_status_id, @partnerStatuses.collect {|p| [ p.statusType, p.id ] } %>
  </p>
<!--[eoform:partner]-->