<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta name="generator" content="HTML Tidy, see www.w3.org" />
<meta http-equiv="Content-Type" content=
"text/html; charset=iso-8859-1" />
<title>Partner Maintenance</title>
<link href="cf_base2.css" rel="stylesheet" type="text/css" />
</head>
<body>
<table width="700" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="237" height="80"><img src="images/CF_logoHtag_1csml.gif"
alt="" width="237" height="55" align="top" /></td>
<td width="199">&nbsp;</td>
<td width="214">&nbsp;</td>
</tr>

<tr valign="bottom">
<td class="textsmList style1">
<div align="left" class="style1"><a href="index.html">Christmas
Future Business Admin</a></div>
</td>
<td>&nbsp;</td>
<td>&nbsp;</td>
</tr>

<tr>
<td colspan="3">
<div align="left"><img src="images/line.jpg" width="698" height=
"17" /></div>
</td>
</tr>
</table>

<table width="700" height="50" border="0" cellpadding="0"
cellspacing="0" background="images/menuBar.png">
<tr>
<td width="60" rowspan="2">
<div align="center"><a href="partnerSearch2.html"><img src=
"images/Users2.png" alt="Partners" width="32" height="32" border=
"0" /></a></div>
</td>
<td width="60" rowspan="2">
<div align="center"><a href="#"><img src="images/Globe-4.png" alt=
"Programs" width="32" height="32" border="0" /></a></div>
</td>
<td width="60" rowspan="2">
<div align="center"><a href="#"><img src="images/Hard Hat.png" alt=
"Projects" width="32" height="32" border="0" /></a></div>
</td>
<td width="60" rowspan="2">
<div align="center"><a href="#"><img src="images/Donors.png" alt=
"Donors" width="26" height="32" border="0" /></a></div>
</td>
<td width="60" rowspan="2">
<div align="center"><a href="#"><img src="images/Partners.png" alt=
"Partners" width="32" height="32" border="0" /></a></div>
</td>
<td width="60" rowspan="2">
<div align="center"><a href="#"><img src="images/Email-3.png" alt=
"Mail" width="32" height="32" border="0" /></a></div>
</td>
<td width="60" rowspan="2">&nbsp;</td>
<td width="60" rowspan="2">&nbsp;</td>
<td width="163">
<div align="right"><a href="#"><img src="images/logout.gif" alt=
"Menu" width="12" height="12" border="0" /></a></div>
</td>
<td width="57"><a href="login.html">Logout</a></td>
</tr>

<tr>
<td>
<div align="right"><a href="#"><img src="images/Home.gif" alt=
"Home" width="12" height="12" border="0" /></a></div>
</td>
<td width="57"><a href="index.html">Home</a></td>
</tr>
</table>

<table width="700" border="0" cellpadding="0" cellspacing="0">
<tr>
<td width="60">
<div align="center"><a href=
"partnerSearch2.html">Partners</a></div>
</td>
<td width="60">
<div align="center"><a href="#">Programs</a></div>
</td>
<td width="60">
<div align="center"><a href="#">Projects</a></div>
</td>
<td width="60">
<div align="center"><a href="#">Donors</a></div>
</td>
<td width="60">
<div align="center"><a href="#">Partner<br />
 Updates</a></div>
</td>
<td width="60">
<div align="center"><a href="#">Mail</a></div>
</td>
<td width="60">&nbsp;</td>
<td width="60">&nbsp;</td>
<td width="163">&nbsp;</td>
<td width="57">&nbsp;</td>
</tr>
</table>

<br />
 

<table width="700" border="0" cellspacing="0" cellpadding="0">
<tr>
<td width="40" height="25"><a href="partnerSearch2.html"><img src=
"images/Search 4.png" width="32" height="32" border="0" /></a></td>
<!-- CONTENT STARTS HERE -->
