<%= error_messages_for :partner %>

<% form_for(:partner, :url => partner_path(@partner), :html => { :method => :put }) do |f| %>
    <%= render (:partial => 'form', :locals => { :f => f) } %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', partner_path(@partner) %> |
<%= link_to 'Back', partners_path %>
