<h1>New task_history</h1>

<%= error_messages_for :task_history %>

<% form_for(:task_history, :url => task_histories_path( @task )) do |f| %>
  <p>
    <b>Created at</b><br />
    now()
  </p>

  <%= render :partial => 'tasks/task_form', :locals => { :f => f, :milestone => Milestone.find( @task.milestone_id )} %>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', task_histories_path( @task ) %>