  <p>
    <b>Created at:</b>
    <%= @task_history.created_at %>
  </p>

<%= render :partial => 'tasks/task_display', :locals => { :instance => @task_history } %>

<%= link_to 'Edit', edit_task_history_path( @task, @task_history ) %> |
<%= link_to 'Back', task_histories_path( @task ) %>