<%-
title = team_user[:title]
user = team_user[:user]
-%>
<%- cache (user.nil? ? "team_user-#{title}" : user.cache_key) do -%>
<div class="staff_team_user">
    <%- if user.blank? -%>
	    <div class="team_user_picture"><%= image_tag "/images/dt/icons/users/thumb/tbd.png", :alt=>"" %></div>
  	  <div class="team_user_name">TBD</div>
    <%- else -%>
  	  <div class="team_user_picture"><%= link_to image_tag(user.picture.url(:thumb)), dt_staff_path %></div>
  	  <div class="team_user_name">
  	    <%= link_to "#{user.first_name}<br />#{user.last_name}", dt_staff_path, :alt=>"#{user.first_name} #{user.last_name}" %>
  	  </div>
	  <%- end -%>
	  <div class="team_user_title">
	   <%= title %>
	  </div>
</div>
<%- end -%>
