Gifts
===============================
<% render partial => "inspect_model", :collection => @cart.gifts %>

Investments
===============================
<% render partial => "inspect_model", :collection => @cart.investments %>

Deposits
===============================
<% render partial => "inspect_model", :collection => @cart.deposits %>

Pledges
===============================
<% render partial => "inspect_model", :collection => @cart.pledges %>
