<%- content_for :html_title do -%>UEnd.org – the first completely U: Powered Non-Profit<%- end -%>

<p>
  <strong>This will start a monthly $5 subscription:</strong>
  <%= link_to "Give", dt_investments_path(:investment => { :amount => 5 }, :subscription => 1, :project_id => Project.admin_project.id), :method => :post %>
</p>
<%- if @cart && !@cart.empty? -%>
<p>Please note: adding this to your cart will remove all other items. If you want, you can <%= link_to "pay for your current cart first", dt_cart_path %>.</p>
<%- end -%>

<p><strong>Total Donors:</strong> <%= Subscription.count %></p>