<%= dt_account_nav %>

<h2>Recently Admin Messages</h2>
<ul id="recentadminmessages-list">
<%= render_partial_collection 'dt/admin_messages/admin_message', @recent_admin_messages if @recent_admin_messages %>
</ul>
