<ul>
  <li><a href="/get-involved">Overview </a></li>
  <li><a href="/get-involved/volunteer">Volunteer </a></li>
  <% if Project.admin_project %><li><%= link_to "Invest ", dt_project_path(10) %></li><% end %>
  <li><a href="/get-involved/events">Events</a></li>
  <li><a href="/get-involved/partner-with-us">Partner With Us</a></li>
</ul>

