<ul>
  <li><a href="/get-involved">Overview </a></li>
  <li><a href="/get-involved/volunteer">Volunteer </a></li>
  <% if Project.cf_admin_project %><li><%= link_to "Invest ", dt_project_path(10) %></li><% end %>
  <li><a href="/get-involved/events">Events</a></li>
  <li<%= ' class="current"' if ['dt/groups', 'dt/memberships', 'dt/group_projects'].include?(params[:controller]) %>><%= link_to "Groups ", dt_groups_path %></li>
  <li><a href="/get-involved/partner-with-us">Partner With Us</a></li>
</ul>
<div id="navsearch">
  <% form_for(:group_search, :url => dt_search_groups_path, :html => { :method => :get, :id => 'groupsearchform', :name => 'groupsearchform' }) do |f| %>
    <input name="q" type="text" id="searchBox" title="Search Groups" value="Search Groups" size="15" maxlength="30" onblur="if(!this.value)this.value='Search Groups';" onfocus="if(this.value=='Search Groups')this.value='';"/>
    <div id="buttonGo"><a href="javascript:document.groupsearchform.submit()"></a></div>
  <% end %>
</div>
