<%- content_for :html_title do -%>We Change the World<%- end -%>
<%- content_for :nav do -%><%= dt_get_involved_nav %><%- end -%>

<%- content_for :top_content do -%>
  <div class="columns">
    <div class="content">
      <div class="contentmargin">
        <p>Connect with other people in your own city or from across the world who have chosen to help eradicate extreme poverty. Share your concern for specific projects, developing communities, or implementing organizations. Search &lsquo;Connect&rsquo; to find people who have already given to certain projects, or see who is interested in a specific project.</p>
      </div>
    </div>
    <div class="sidebar">
      <div class="projectbuttons">
        <%= link_to "<span>Create Group</span>", new_dt_group_path, :class => "button-creategroup" %>
      </div>
    </div>
  </div>
<%- end -%>

<%= render :partial => 'group', :collection => @groups if @groups %>
