<ul>
	<li><%= link_to "Carts", bus_admin_custom_report_carts_path %></li>
	<li><%= link_to "Gift Cards", bus_admin_custom_report_gift_cards_path %></li>
	<li><%= link_to "Gift Card Tips", bus_admin_custom_report_gift_card_tips_path %></li>
	<li><%= link_to "UPowered", bus_admin_custom_report_upowereds_path %></li>
</ul>