<h1>Editing partner_history</h1>

<%= error_messages_for :partner_history %>

<% form_for(:partner_history, :url => partner_history_path(@partner_history), :html => { :method => :put }) do %>
    <%= render :partial => 'form' %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', partner_history_path(@partner_history) %> |
<%= link_to 'Back', partner_histories_path %>