<h1>Edit Partner</h1>

<%= error_messages_for :partner_history %>

<% form_for(:partner_history, :url => partner_histories_path) do %>
    <%= render :partial => 'form' %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', partner_histories_path %>