<!--[form:village_group]-->

  <p>
    <b>Name</b><br />
    <%= text_field :village_group, :village_group_name %>
  </p>

  <p>
    <b>Region</b><br />
    <%= select (:region, "region_id", @regions.collect {|p| [ p.region_name, p.id ] } ) %>
  </p>
 
<!--[eoform:village_group]-->