<h1>New village_group</h1>

<%= error_messages_for :village_group %>

<% form_for(:village_group, :url => village_groups_path) do |f| %>
 <p>
    <b>Village Group Name</b><br />
    <%= f.text_field :village_group_name %>
  </p>

  <p>
    <b>Region</b><br />
    <%= select (:village_group, "region_id", @regions.collect {|p| [ p.region_name, p.id ] } ) %>
  </p>
  
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', village_groups_path %>