<p>
  <b>Name:</b>
  <%=h @village_group.village_group_name %>
</p>

<p>
  <b>Region:</b>
  <%=h @village_group.region.region_name %>
</p>

<%= link_to 'Edit', edit_village_group_path(@village_group) %> |
<%= link_to 'Back', village_groups_path %>