<h1>Editing task_status</h1>

<%= error_messages_for :task_status %>

<% form_for(:task_status, :url => task_status_path(@task_status), :html => { :method => :put }) do |f| %>
  <%= render :partial => 'shared/status_form', :locals => { :f => f } %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', task_status_path(@task_status) %> |
<%= link_to 'Back', task_statuses_path %>