<h1>New task_status</h1>

<%= error_messages_for :task_status %>

<% form_for(:task_status, :url => task_statuses_path) do |f| %>
  <%= render :partial => 'shared/status_form', :locals => { :f => f } %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', task_statuses_path %>