<!--[form:Programs]-->

  <p>
    <b>Program Name</b><br />
    <%= text_field :program, :program_name %>
  </p>

  <p>
    <b>Contact</b><br />
    <%= select (:contact, "contact_id", @contacts.collect {|p| [ p.last_name + ", " + p.first_name, p.id ] } ) %>
  </p>
 
<!--[eoform:Programs]-->