<h1>Listing programs</h1>

<table>
  <tr>
  </tr>
  
<% for program in @programs %>
  <tr>
   <td><%=h program.program_name %></td>
    <td><%=h program.contact.last_name %></td>    
    <td><%= link_to 'Show', program_path(program) %></td>
    <td><%= link_to 'Edit', edit_program_path(program) %></td>
    <td><%= link_to 'Destroy', program_path(program), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New programs', new_program_path %>