<h1>New programs</h1>

<%= error_messages_for :programs %>

<% form_for(:programs, :url => programs_path) do |f| %>
  <p>
    <b>Program Name</b><br />
    <%= f.text_field :program_name %>
  </p>

  <p>
    <b>Contact</b><br />
    <%= select (:program, "contact_id", @contacts.collect {|p| [ p.last_name , p.id ] } ) %>
  </p>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', programs_path %>