<div>
  <h1>Search box goes here: [______________________] [search]</h1>
</div>

<div id="participants">
	<%= campaign_h2_header("#{link_to(@campaign.name + "'s",dt_campaign_path(@campaign))} Participants",'team_container')%>
	<% if @participants.size > 0 %>
		<div id="participant_container" class="row_container">
			<%= render :partial => 'participant', :collection => @participants, :locals => {:long_view => true} %>
		</div>
	<% else %>
		<strong>There are no participants registered for this campaign yet.</strong>
	<% end %>
</div>
<div>
	Back to <%= link_to(@campaign.name, dt_campaign_path(@campaign)) %>
</div>
