/*div.statwidget {
  background-color:#706f73;
}
div.statwidget div.statprogress {
  background:url(/images/upowered/progress_bg.gif);
}
*/
div.statwidget {
  padding:0 0 1em 0;
  margin-bottom:1em;
  background:url(/images/dt/upowered/widget_bg.gif) bottom left;
  width:550px;
}
div.statwidget h2 {
  margin:0;
  padding:0;
  border:0;
  color:#FFF;
}
div.statwidget div.stattitle {
  background:url(/images/dt/upowered/widget_top.gif) #706F73 no-repeat;
  padding:4px 8px;
}
div.statwidget div.statcontainer {
}
div.statwidget div.statcontent {
  position:relative;
  padding:0;
  margin:8px 8px 0 8px;
  background:#AAA;
  height:16px;
}
div.statwidget div.statprogress {
  background:url(/images/dt/upowered/progress_bg.gif) #e32 repeat-x;
  position:absolute;
  top:0;
  left:0;
  z-index:2;
  height:100%;
}
div.statwidget div.statgoal {
  position:relative;
  margin:auto;
  text-align:center;
  z-index:3;
  font-size:0.6875em;
  color:#FFF;
  padding-bottom:1px;
}
div#subscription_users{
	padding:8px 8px 8px 8px;
}
div.subscription_user {
	width:24px;
	height:24px;
	padding:2px;
	float:left;
}
#sidebar input#subscribe_button {
	float:right;
	margin:2px;
}

.sidebarbox {
	background:#DDD;
	border-left:1px solid #999;
	border-right:1px solid #999;
	padding:0 0 1em 0;
	margin:0em;
}

.sidebarbox p, .sidebarbox h2, .sidebarbox h3, .sidebarbox form {
	padding:0 8px;
	margin:0 0 .25em 0;
}
.sidebarbox h3 {margin:0;}
.dateStamp {
  font-size:0.6875em;
  font-style:italic;
  padding:0;
}

#sidebar .sidebarbox input[type="text"] {
	width:210px;
}

#sidebar .share_link {
	text-decoration:none;
}

#sidebar .rtop,#sidebar .rbottom{display:block; background:#FFF;}
#sidebar .rtop b, #sidebar .rbottom b{display: block; background:#DDD; height: 1px; overflow: hidden;}
#sidebar .rtop .r1{margin: 0 5px;border-right:1px solid #999;border-left:1px solid #999;border-right:1px solid #999;border-top:1px solid #999;}
#sidebar .rbottom .r1{margin: 0 5px;border-right:1px solid #999;border-left:1px solid #999;border-right:1px solid #999;border-bottom:1px solid #999;margin-bottom:1em;}
#sidebar .r2{margin: 0 3px;border-left:1px solid #999;border-right:1px solid #999;}
#sidebar .r3{margin: 0 2px;border-left:1px solid #999;border-right:1px solid #999;}
#sidebar .r4{margin: 0 1px; height: 2px;border-left:1px solid #999;border-right:1px solid #999;}

div.staff_team_user {
  min-height:125px;
}