<%= dt_account_nav %>

<div id="leftColW">
	<p>
		This is where you will come to add money to your DonorTrust account. You will have an account much like your bank account where you can hold funds and invest them at your discretion into the projects you want to.
	</p>
	
	<p>
		<%= link_to "Sign Up", dt_new_account_path() %> or <%= link_to "Login", dt_signin_accounts_path() %> now to get started!
	</p>
</div>

<div id="rightColN">

</div>