<%- signup ||= false -%>
<% if !logged_in? || current_user.authentications.google.blank? %>
<div class="clearfix">
  <div class="googlelogin">
    <div class="img"><%= link_to image_tag('dt/authentications/google_24.png', :size => "24x24", :alt => ""), auth_path(:google) %></div>
    <%= link_to (logged_in? || signup ? 'Connect via google' : 'Login with google'), auth_path(:google) %>
  </div>
</div>
<% end %>
