      <li>
        <div><%= key_measure.target%> <%= key_measure.measure.description %> </div>
		<%= horizontal_bar_graph_no_title  [[key_measure.measure.description, key_measure.get_percent_target]] %>
			
      </li>

	  