<h3>Project Location</h3>
	<p><a href="<%= dt_village_project_path(@project) %>"><%= @project.village.name %></a>, <%= @project.village.region.region_name %>, <a href="<%= dt_nation_project_path(@project) %>"><%= @project.village.region.country.name %></a></p>