<% if @project.community.present? && @project.community.projects.present? && community_projects(@project).size > 0 %>
<div id="relatedProjects">
  <% form_tag dt_projects_path, :method => :get do -%>
    <div><%= select_tag "id", options_for_select(community_projects(@project).collect{|community_project|[community_project[0], dt_project_path(community_project[1])]}.unshift(['Projects in this community', ''])), 
      :onchange => 'url=this.options[this.selectedIndex].value;if(url){document.location.href=url}' %></div>
  <% end -%>
</div>
<% end %>
