<div id="project_search_toolbar" >
<% form_tag (search_dt_projects_path,{:id => 'project_search', :method => :get} ) do %>
	<%= text_field_tag 'keywords', (params[:keywords].nil? ? 'Search' : params[:keywords]), 
		:title => 'Search', 
		:size => 55 ,
		:onblur =>"if(!this.value) this.value='Search';", 
		:onfocus => "if(this.value=='Search') this.value='';"
	%>
	<span id="searchsubmit">
		<%= submit_tag 'go',
			:id => 'simple_search_submit', 
			:class => 'submitreplace'
		%>
	</span>
	<div id="adv_search_msg">
		<a href="#" onclick="Effect.SlideDown('search-bar-wrapper', { duration: 1.0 }); 
							Effect.Appear('search-bar-wrapper',{ duration: 1.5}); 
							Effect.Appear('hider', {duration:1.0});">
			(Advanced Search)
		</a>
	</div>
<% end -%>
</div>
