        <div class="projectInfo" style="margin-top:10px;">
          <div class="leftColW">
            <% if @cause.nil? %>
            <p>We could not locate the cause</p>
            <% else %>
            <h2><%=h @cause.name %></h2>
            <p><%= @cause.description %></p>
            <% end %>
            <p style="text-align:center;"><a href="javascript:window.close();">Close Window</a></p>
          </div>
          <div class="factList">
            <% unless @project.nil? %><%= project_quickfacts %><% end %>
          </div>
        </div>
