<%- content_for :top_content do -%>
  <div class="columns">
    <div class="content projectinfo">
      <div style="margin-righ:1em;">
        <h1>Lasting, Sustainable Results</h1>
        <p>Help change the world by investing in projects that will help lift others out of extreme poverty. <strong>Start by using the Search Bar above</strong> to find a project that matches the places, causes, or specific organizations that interest you, or check out our 2 Featured Projects below. <strong>You can share what you find with friends or give them a gift</strong> to support whichever project they choose.</p>
        <p>ChristmasFuture supports organizations involved in holistic approaches to walking with the poorest communities out of poverty in a lasting way. It&rsquo;s no longer enough to just do something, it&rsquo;s time we do the right things!</p>
      </div>
    </div>
    <div class="sidebar">
      <div><%= link_to image_tag("/images/dt/promos/guarantee_promo.jpg", :alt => '100% Investment Guarantee - 100% of your investments go to the projects you choose.'), "http://www.christmasfuture.org/about-us/faqs/" %></div>
    </div>
  </div>
<%- end -%>

<h1>Featured Projects</h1>
<div class="projectlist">
<%= render :partial => '/dt/projects/featured_project', :collection => @projects if @projects %>
</div>
