<% title(params[:search].blank? ? 'Featured Projects' : nil ) %>

<div class="clearfix">
<% @projects.each_with_index do |project, i| %>
<div class="span-4 append-bottom<%= ' last' if (i+1)%3 == 0 %>">
  <%= render :partial => 'project', :locals => { :project => project } %>
</div>
<% end %>
</div>

<%= will_paginate %>
