<%= project_nav %>

<div id="leftColW">
	<div id="nation-<%= @project.village.region.country.id %>" class="article">
		<h2 class="article-title"><%= @project.village.region.country.name %></h2>
		<div class="article-body">
		<%= textilize @project.village.region.country.html_data %>
	</div>
</div>

<div id="rightColN">
	
</div>
