<%= project_nav %>

<div id="contentcontainer-1col">

<div id="content">
<div class="contentmargin">
<div id="nation-<%= @nation.id %>" class="article">
	<div class="article-title"><%= @nation.name %></div>
	<div class="artice-body"><%= @nation.description %></div>
</div>
</div>
</div>

</div>

