<%= project_nav %>

<div id="contentcontainer-1col">

<div id="content">
<div class="contentmargin">
<div id="nation-" class="article">
	<div class="article-title"></div>
	<div class="artice-body"></div>
</div>
</div>
</div>

</div>

