<div id="contentContainer">
  <h1><%= @project.name %></h1>
  <%= project_nav %>

  <div id="leftColW">

  </div>
          
  <div id="rightColN">
    <%= render :partial => 'related_projects' %>

    <div id="factList">
      @project.key_measures.each do |km|
        km.measure.description
        km.target/km.key_measures_datas.latest.value #bar
      end
    </div>
  </div>
</div>