    <div class="projectSMtext">
      <div id="buttonGiftProject"><%= link_to "Gift this Project", dt_new_gift_path( :project_id => @project.id ) %></div>
      <div id="buttonInvest"><%= link_to "Invest", dt_new_investment_path( :project_id => @project.id ) %></div>
      <div id="buttonTellFriend"><%= link_to "Tell-A-Friend", dt_new_tell_friend_path( :project_id => @project.id ) %></div>
      <div id="buttonSendWishlist"><%= link_to "Send My Wishlist", dt_new_message_my_wishlists_path( :account_id => current_user, :project_id => @project.id ) %></div>
    </div>
