<%= project_nav %>

<div id="contentcontainer-1col">

<div id="content">
<div class="contentmargin">
<div id="project-<%= @project.id %>" class="article">
	<div class="article-title"><%= @project.name %></div>
	<div class="artice-body"><%= @project.description %></div>
</div>
</div>
</div>

</div>

