
    <div class="projectbuttons clearfix">
      <%= link_to "<img src='/images/dt/buttons/give.gif' alt='Give' />", new_dt_gift_path(:project_id => @project) if @project.fundable? %>
    </div>
    <div class="projectactions">
    </div>
