<%= project_nav %>

<div id="contentcontainer-1col">

<div id="content">
<div class="contentmargin">
<div id="village-<%= @village.id %>" class="article">
	<div class="article-title"><%= @village.urban_centre.urban_centre_name %></div>
	<div class="artice-body">
	<%= @project.urban_centre.village_plan %>
	</div>
</div>
</div>
</div>

</div>

