<%= project_nav %>

<div id="leftColW">
<div id="village-<%= @project.village.id %>" class="article">
	<h1 class="article-title"><%= @project.village.name %>, <%= @project.village.region.region_name %>, <a href="<%= dt_nation_project_path(@project) %>"><%= @project.village.region.country.name %></a></h1>
	<div class="article-body">
	<%= textilize @project.village.village_plan %>
	</div>
</div>

<div id="rightColN">
	
</div>
