<div id="subNavWide">
	<ul class="subNav li">
	  <li id="sector-nav-overview"><%= link_to "Create New", new_sector_path %></li>  
	  <li><%= link_to 'Inactive Records', :action => 'inactive_records'  %></li>
	</ul>
</div><!-- subNav ends -->
