<div id="subNavWide">
	<ul class="subNav li">
		<li id="new-nav-overview"><%= link_to "Create New", new_place_sector_path %></li>  
  		<li id="edit-nav-overview"><%= link_to "Edit", edit_place_sector_path %></li>  
		<li id="delete" ><%= link_to "Delete", place_sector_path(@sector), :method => :delete, :confirm => 'Are you absolutely sure you want to delete this place sector?' %></li>
  	</ul>
</div><!-- subNav ends -->
