<% @rank = show_ranks -%>
<div class="projectInfo"  id="rankInfo-<%= @rank.id %>">
  <div class="leftColW">
    <h2><%= link_to @rank.name, rank_type_path(@rank) %></h2>
    <p><strong>Rank Description:</strong> <%= @rank.description%></p>
 
  </div>    	
</div>
	
  
	