<% project ||= @project%>
    <div id="cart_<%= project.id%>" >
    <% @you_tube_videos = project.project_you_tube_videos %>
    <%= render(:partial => '/bus_admin/project_you_tube_videos/you_tube_video', :locals => {:prefix => "#{project.id}", :class_name => "project_you_tube_video"}, :collection => @you_tube_videos) %> 
    </div>
