<!--[common:status_data]-->
  <p>
    <b>Status</b><br />
    <%= f.text_field :status %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>
<!--[eofcommon:status_data]-->