<!--[common:category_data]-->
  <p>
    <b>Category</b><br />
    <%= f.text_field :category %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>
<!--[eofcommon:category_data]-->