<% @partner = show_partners -%>
<div class="projectInfo"  id="partnerInfo-<%= @partner.id %>">
  <div class="leftColW">
    <h2><%= link_to @partner.name, bus_admin_partner_status_path(@partner) %></h2>
    <p><strong>Partner Description: </strong> <%= @partner.description%></p>
 
  </div>    	
</div>
	
  
	