<div id="contentContainer">
  <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
  <% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>
  <div class="partnerInfo">
    <div class="leftColW">
      <h1>Project Status</h1>
	  <%= new_project_nav %>
   
    </div>
   </div>

  <div id="show-rank">
  	<%= render :partial => '/bus_admin/project_statuses/show_projects', :collection => @projects if @projects %>
  </div>
</div>

