<h1>New milestone_category</h1>

<%= error_messages_for :milestone_category %>

<% form_for(:milestone_category, :url => milestone_categories_path) do |f| %>
  <p>
    <b>Category</b><br />
    <%= f.text_field :category %>
  </p>

  <p>
    <b>Description</b><br />
    <%= f.text_area :description %>
  </p>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', milestone_categories_path %>