<h1>New milestone_category</h1>

<%= error_messages_for :milestone_category %>

<% form_for(:milestone_category, :url => milestone_categories_path) do |f| %>
  <%= render :partial => 'shared/category_form', :locals => { :f => f } %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', milestone_categories_path %>