<%= render :partial => 'shared/category_display', :locals => { :f => @milestone_category } %>

<%= link_to 'Edit', edit_milestone_category_path(@milestone_category) %> |
<%= link_to 'Back', milestone_categories_path %>