<div class="activation">
An email has been sent to your login email address to make sure it is a valid address.
<div>If you do not receive this email within a few minutes, you can <%= link_to "resend the email confirmation", dt_resend_accounts_path() %></div>
</div>