      <% project = investment.project %>
      <li class="project-list-item"><strong><%= link_to project.name, dt_project_path(project) %></strong>
       
        <p><strong>Amount you've given directly to this project:</strong> <%= number_to_currency(investment.amount) %></p>
        <p>
          <span class="linkMinor">
          <%= link_to "INVEST IN THIS PROJECT", new_dt_investment_path(:project_id => project) %>
          </span>
        </p>
      </li>
