<%- content_for :html_title do %>Password Reset<% end -%>
<%- content_for :nav do %><%= iend_user_nav %><% end -%>

<%= render :partial => 'dt/accounts/inactive' if @activated === false %>
<% form_tag(reset_password_iend_users_path, :method => :put, :name => 'resetform', :id => 'resetform' ) do %>
  <div class="userform">
    <fieldset>
      <legend>To reset your password, enter your username (your email address) below.</legend>
      <ol>
        <li><label for="login">Username/Email</label><%= text_field_tag 'login', nil, :tabindex => 1 %></li>
        <li><%= submit_tag 'Reset Password', :class => 'buttonsubmit' %></li>
      </ol>
    </fieldset>
  </div>
<% end %>
