<div id="pending_campaigns">
	<h1>Pending Campaigns</h1>
	<%= render :partial => 'admin_campaign', :collection => @pending_campaigns%>
</div>

<div id="active_campaings">
	<h1>Active Campaigns</h1>
	<%= render :partial => 'admin_campaign', :collection => @active_campaigns%>
</div>