<div id="campaigns">
	<div id="pending_campaigns" style="border: 1px solid gray;margin-top:5px;">
		<%= campaign_h2_header('Pending Campaigns','pending_container')%>
		<div id="pending_container" >
			<%= render :partial => 'admin_campaign', :collection => @pending_campaigns, :locals => {:show_admin => true}%>
		</div>
	</div>
	<div id="active_campaings" style="border: 1px solid gray;margin-top:5px;">
		<%= campaign_h2_header('Active Campaigns','active_container')%>
		<div id="active_container">
			<%= render :partial => 'admin_campaign', :collection => @active_campaigns, :locals => {:show_admin => true}%>
		</div>
	</div>
</div>