<h1>Campaigns  
		<% restrict_to "cf_admin" do %>
			- <%= link_to('[Create a new Campaign]', new_dt_campaign_path) %>     
		<% end %>
</h1>
<div id="search_box">
  <%= render :partial => 'search' %>
</div>
<div id="campaigns">
	<%= render :partial => 'campaign', :collection => @campaigns %>
</div>

