<%- content_for :html_title do -%>Create a Campaign<%- end -%>

<h1>New campaign</h1>

<%= error_messages_for :campaign, :participant, :team %>
<%# TODO: Is there a better way of making the partial aware of where it's being called from so it knows whether to render certain fields or not? %>
<%=render :partial=> 'form', :locals=>{:is_new=>true} %>




