<span class="small_text">Your proposed URL: http://www.christmasfuture.org/dt/<%= @short_name %> <br/>
Note: This may not look exactly as you expect as characters such as &, ?, and # will be trimmed automatically, therefore you should avoid their use.	
</span>
<% if @errors.size != 0 %>
	<div id="errors">
		<% for error in @errors%>
			<%= error %> <br/>
		<% end%>
	</div>
<% end %>