<h1>Editing region_type</h1>

<%= error_messages_for :region_type %>

<% form_for(:region_type, :url => region_type_path(@region_type), :html => { :method => :put }) do |f| %>
  
  <p>
    <b>Region Type Name</b><br />
    <%= f.text_field :region_type_name %>
  </p>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', region_type_path(@region_type) %> |
<%= link_to 'Back', region_types_path %>