<h1>New region_type</h1>

<%= error_messages_for :region_type %>

<% form_for(:region_type, :url => region_types_path) do |f| %>
  <p>
    <b>Region Type Name</b><br />
    <%= f.text_field :region_type_name %>
  </p>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', region_types_path %>