<%- content_for :html_title do -%>Donate it to Uend:'s Operational budget<%- end -%>
<%- content_for :nav do -%><%= iend_user_nav %><%- end -%>

<div class="userform">
  <% semantic_form_for(:investment,  :url => dt_checkout_url(:protocol => ssl_protocol), :html => {:method => 'put' })  do |f|%>
    <fieldset>
      <legend>You are choosing to donate your gift card balance directly to Uend:'s Operational budget</legend>
      <p>Is this what you want to do?</p>
      <ol>
        <li>
          <%= hidden_field_tag :admin_gift, 1 %>
          <%= submit_tag "Yes", :class => 'buttonsubmit' %>
          <%= button_to_function "No", "document.location='#{open_dt_gifts_path}'", :class => 'buttonsubmit' %>
        </li>
      </ol>
    </fieldset>
  <% end -%>
</div>