      <% if @ecards and !@ecards.empty? %>
      <div id="medImgWrap">
        <div class="medImg"><%= image_tag url_for_file_column(@ecards[0], "medium"), :id => 'mediumEcard', :alt => '' %></div>
      </div>
      <div class="textsm">Choose an image below to preview <br /> the image &amp; select it for your card.</div>
      <ul id="ecardthumbs">
        <%= render :partial => 'dt/ecards/thumbnail', :collection => @ecards %>
      </ul>
      <% end %>
