      <% if @ecards and !@ecards.empty? %>
      <div id="medImgWrap">
        <div class="medImg"><%= image_tag url_for_file_column(@ecards[0], "medium"), :id => 'mediumEcard', :alt => '' %></div>
      </div>
      <div class="textsm">Choose a card below to preview the image.</div>
      <ul id="ecardthumbs">
        <%= render :partial => 'dt/ecards/thumbnail', :collection => @ecards %>
      </ul>
      <% end %>
