<% @user = show_users -%>
<div class="projectInfo"  id="userInfo-<%= @user.id %>">
  <div class="leftColW">
    <h2><%= link_to @user.name, user_path(@user) %></h2>
      <% if @user.first_name? &&  @user.last_name? %><p><strong>Name: </strong> <%= @user.first_name %> <%= @user.last_name %></p><% end %>
	  <% if @user.login? %><p><strong>Login: </strong> <%= @user.login%></p><% end %>
	 </div>
  </div>
  
  
  