<div id="contentContainer">
  <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
  <% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>
  <div class="partnerInfo">
    <div class="leftColW">
      <h1>Donors </h1>
	  <%= new_nav %> 
	     
    </div>
   </div>

  <div id="program">
  	<%= render :partial => '/bus_admin/users/show_users', :collection => @users if @users %>
  </div>
</div>