<% content_for :body_id do %>home<% end %>
<%- content_for :html_title do -%>Home<%- end -%>
<div id="howItWorks">
  <object type="application/x-shockwave-flash" data="/images/dt/flash/HowItWorks.swf" width="450" height="250">
    <param name="allowScriptAccess" value="sameDomain" />
     <param name="movie" value="/images/dt/flash/HowItWorks.swf" />
    <param name="quality" value="high" />
    <param name="bgcolor" value="#ffffff" />
    <param value=transparent name=wmode />
  </object>
</div>

<div>
   <div class="keyDifferentiatorText">
    <h2>Integrated Community Development</h2>
    <p>All projects on the website are committed to Integrated Community Development&mdash;empowering communities suffering in extreme poverty to define and solve their own problems, to create lasting change. Sustainable change is the consequence of developing every area of a community&mdash;looking at all the parts required to find a solution. 
    <a href="/integrated_dev/">read more</a>&hellip;</p>
  </div>
</div>

<div>
  <div class="keyDifferentiatorText">
    <h2>Proof of Impact</h2>      
    <p>Proof-of-Impact means that you see how your choice made a difference. All projects on the ChristmasFuture website are updated with blog posts, photos, or videos, so you can watch the world change for good.</p>
  </div>
</div>
  
<%- content_for :sidebar do -%>
  <a href="/about-us/faqs/#investment"><img src="/images/dt/promos/guarantee_promo.jpg" class="right_side_banner" alt="100% Investment Guarantee - 100% of your investments go to the projects you choose."/></a>
  <a href="/dt/give"><img src="/images/dt/buttons/give_btn_150.png" id="frontGiveButton" /></a> 
  <a href="/dt/gifts/open"><img src="/images/dt/buttons/receive_btn_150.png" id="frontReceiveButton" /></a>
  <a href="/dt/OneYoga2009"><img alt="Hit the mat to end extreme poverty. - OneYoga" src="/images/dt/promos/one_yoga_btn.png" class="right_side_banner" /></a>
<%- end -%>