<div>

  <div class="leftColW">
  	<a href="#"><img src="/images/dt/placeholders/howitworks.png" id="howItWorksImage"/></a>
		<div>
			<img src="/images/dt/icons/icd_btn.png" class="keyDifferentiatorIcon" alt="Integrated Development"/>
			<div class="keyDifferentiatorText">
				Aenean tristique risus ut eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce augue. Curabitur placerat nunc quis justo. Sed ac pede in lorem laoreet semper. In hac habitasse platea dictumst. Ut interdum dictum dui. Vivamus luctus. Integer vitae arcu. Aliquam erat volutpat.
			</div>
		</div>
		<div>
			<img src="/images/dt/icons/poi_btn.png" class="keyDifferentiatorIcon" alt="Feedback"/>
			<div class="keyDifferentiatorText">
				Ut nibh nisi, cursus eget, aliquet eget, dapibus at, felis. Mauris mollis. Nullam dapibus tempus tortor. Vivamus adipiscing rutrum sapien. Nullam et tellus. Sed accumsan ultricies odio. Aliquam gravida elementum mauris. Quisque convallis orci eu ante. Sed viverra, ipsum malesuada euismod ultrices, nisl neque suscipit lectus, vel ultricies metus elit nec tellus.
			</div>
		</div>
  </div>
  
  <div class="rightColN">
		<a href="/dt/gifts/open"><img src="/images/dt/nav_elements/buttonsCF/receive.png" id="frontReceiveButton" /></a>
		<a href="/dt/give"><img src="/images/dt/nav_elements/buttonsCF/give.png" id="frontGiveButton" /></a>		
		
		<a href="#"><img src="/images/dt/placeholders/factsandpic.png" id="frontPicsAndFact" /></a>  

		<a href="#"><img src="/images/dt/placeholders/feature.png" id="frontFeature" /></a>
	</div>

</div>