<div>

  <div class="leftColW">
  	<a href="#"><img src="/images/dt/placeholders/howitworks.png" id="howItWorksImage"/></a>
		<div>
			<img src="/images/dt/placeholders/integrated_development_icon.png" class="keyDifferentiatorIcon" alt="Integrated Development"/>
			<div class="keyDifferentiatorText">
				Aenean tristique risus ut eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce augue. Curabitur placerat nunc quis justo. Sed ac pede in lorem laoreet semper. In hac habitasse platea dictumst. Ut interdum dictum dui. Vivamus luctus. Integer vitae arcu. Aliquam erat volutpat.
			</div>
		</div>
		<div>
			<img src="/images/dt/placeholders/feedback_icon.png" class="keyDifferentiatorIcon" alt="Feedback"/>
			<div class="keyDifferentiatorText">
				Ut nibh nisi, cursus eget, aliquet eget, dapibus at, felis. Mauris mollis. Nullam dapibus tempus tortor. Vivamus adipiscing rutrum sapien. Nullam et tellus. Sed accumsan ultricies odio. Aliquam gravida elementum mauris. Quisque convallis orci eu ante. Sed viverra, ipsum malesuada euismod ultrices, nisl neque suscipit lectus, vel ultricies metus elit nec tellus.
			</div>
		</div>
		<div>
			<img src="/images/dt/placeholders/education_icon.png" class="keyDifferentiatorIcon" alt="Education"/>
			<div class="keyDifferentiatorText">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec sollicitudin libero id elit. Sed euismod nonummy neque. Nam dignissim urna vel urna. Nunc aliquet. Nunc vel dui mattis magna varius condimentum. Etiam lacus enim, aliquam ultricies, luctus ut, placerat id, lectus. Vestibulum laoreet
			</div>
		</div>
  </div>
  
  <div class="rightColN">
		<a href="http://www.christmasfuture.org/dt/gifts/open"><img src="/images/dt/placeholders/frontpage_receive.png" id="frontReceiveButton" /></a>
		<a href="http://www.christmasfuture.org/dt/give"><img src="/images/dt/placeholders/frontpage_give.png" id="frontGiveButton" /></a>		
		
		<a href="#"><img src="/images/dt/placeholders/factsandpic.png" id="frontPicsAndFact" /></a>  

		<a href="#"><img src="/images/dt/placeholders/feature.png" id="frontFeature" /></a>

		<a href="http://www.industrymailout.com/Industry/Subscribe.aspx?m=3929"><img src="/images/dt/promos/newsletter_promo.jpg" id="newsletter" /></a>

		<a href="/dt/tell_friends/new"><img src="/images/dt/nav_elements/buttonsCF/tellFriend_blue.gif" id="tellAFriend" /></a>		
		
		
	</div>

</div>