<%- content_for :head do -%>
<style type="text/css" media="screen">
<!--
#container {
  width:400px;
  margin:auto;
}
#logo {
  display:none;
}
-->
</style>
<%- end -%>
  <h1 style="font-size:2.125em;font-weight:normal;line-height:1.2em;margin-bottom:0.25em;text-transform:none;font-family:Helvetica,Arial,sans-serif;">
    Our name is changing.<br />
    Our mission won&rsquo;t.
  </h1>

  <p>
    In order to help reach our goal of eradicating <br />
    extreme poverty in the developing world, <br />
    ChristmasFuture is changing our name to  <br />
    UEnd: on October 15, 2009.
  </p>
  <p>
    By changing our name, we hope to attract an even <br /> 
    wider audience to our ongoing cause and  <br />
    encourage gift giving beyond the holiday season.
  </p>
  <p>
    We hope you&rsquo;ll continue to help spread the word.<br />
    In the meantime please visit our current site  <br />
    <%= link_to "www.christmasfuture.org", "http://www.christmasfuture.org/" %> 
  </p>

  <%= link_to image_tag('/images/dt/brand_elements/cf_headerlogo.gif', :alt => "Uend: &ndash; Change the world&hellip;for good"), "http://www.christmasfuture.org/" %>
