<div id="subNavWide">
	<ul class="subNav li">
		<li id="quick-fact-nav-"><%= link_to "Add Quick Fact", new_quick_fact_partner_path(:quickFactPartnerId => params[:id] ) %></li>  	
		<li id="quick-fact-new-nav"><%= link_to "New Quick Fact", new_quick_fact_path %></li>  	
	</ul>
</div><!-- subNav ends -->
