<%= dt_account_nav %>

<div id="leftColW2">
<h1>Thanks!</h1>

<p>
	Your gift has been emailed. If it isn't picked up, we will notify you before it expires.
</p>

<p>
	Thanks again,<br />
	the ChristmasFuture team
</p>

</div>
