<h1>New Partner Type</h1>

<%= error_messages_for :partner_type %>

<% form_for(:partner_type, :url => partner_types_path) do  %>
    <%= render (:partial => 'form' ) %>

  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', partner_types_path %>