<div id= "agencies" font size="xx-small" >
  <%= render :partial => 'collaborating_agency', :collection => @project.collaborating_agencies %>
</div>
<%= add_agency_link "Add Agency" %>
<br /><br /> 