
<div id= "financials" font size="xx-small" >
  <%= render :partial => 'financial_source', :collection => @project.financial_sources %>
</div>
<%= add_source_link "Add Source" %>
<br /><br />	 

