<div id="featuredProjectList" class="active-scaffold">
  <div class="active-scaffold-header">
	  <div class="actions">

			<%= link_to "Create new", new_bus_admin_project_url %>

    <%# Commented this out for http://rubyforge.org/tracker/index.php?func=detail&aid=23011&group_id=2921&atid=11280 %>
		<% #unless current_user.administrated_partners.empty? -%>
			<%#= link_to "Create new", new_bus_admin_project_url %>
		<%# end -%>

		<% restrict_to "cf_admin" do -%>
      <%= link_to "Pending projects", '/bus_admin/pending_projects' %>
		<% end -%>
	  </div>
	  <h2>Projects</h2>
  </div>

	<table cellpadding="0" cellspacing="0">
	  <thead>
	    <tr>
				<th>Project</th>
				<th>Program</th>
				<th>Start</th>
				<th>Project Status</th>
				<th>Approval Status</th>
				<th>Actions</th>
	    </tr>
	  </thead>
	  <tbody class="records">
	    <% if !list.empty? -%>
	    	<%= render :partial => '/bus_admin/projects/show_project', :collection => list %>
			<% else -%>
				<td colspan="5">You have no projects.</td>
	    <% end -%>
	  </tbody>
	</table>
</div>
