<label>Country:</label> <%= collection_select (:project, :country_id, get_countries, :id, :name, :include_blank => false) %><br/>
<label>Specific location:</label>

<input autocomplete="off" id="place_name" name="place[name]" size="30" value="<%= @project.place.name if @project.place && @project.place.name %>" type="text" />
<div style="display: none;" class="auto_complete" id="place_name_auto_complete"></div>

<%= observe_field :project_country_id,
				  :url => update_location_path,
				  :with => "'id=#{@project.id}&country=' + escape(value)",
				  :update => :project_location_form %>

<script type="text/javascript">
//<![CDATA[
// custom auto completer for specific location
new Ajax.Autocompleter(
	'place_name',
	'place_name_auto_complete',
	'/auto_complete_for_place_name?parent=<%= @country_id || @project.country_id %>')
//]]>
</script>
