<dl>
  <dt>
    <label for="record_other_projects">Other Projects</label>
  </dt>
  <dd> 
    <%= textile_editor  'record', 'other_projects'  -%>
  </dd>	
</dl> 
<%= textile_editor_initialize -%>
