<h3>Project Location</h3>
	<p><a href="<%= bus_admin_village_path(@project) %>"><%= @project.village.name %></a>, <%= @project.village.region.region_name %>, <a href="<%= bus_admin_nation_path(@project) %>"><%= @project.village.region.country.name %></a></p>