<div style="padding:7px;font-size:7pt">
	<%= link_to "Milestones", bus_admin_project_milestones_url(@project) %>
	&nbsp;
	<%= link_to "At A Glance", bus_admin_list_for_project_rank_url(@project) %>
	&nbsp;
	<%= link_to "Budgets", bus_admin_list_for_project_budget_item_url(@project) %>
	&nbsp;
	<%= link_to "Key Measures", bus_admin_list_for_project_key_measure_url(@project) %>
	&nbsp;
	<%= link_to image_tag("bus_admin/icons/you_tube.png", :border => 0), list_by_project_project_you_tube_video_url(@project) %>
	&nbsp;
	<%= link_to image_tag("bus_admin/icons/flickr.png", :border => 0), list_by_project_project_flickr_image_url(@project) %>
</div>