<div id="contentContainer">
  <h1><%= h @project.name %></h1>
 
  <% if flash[:notice] %><div class="notice"><%= flash[:notice] %></div><% end %>
  <% if flash[:error] %><div class="error"><%= flash[:error] %></div><% end %>
 
</div>