<div id="contentContainer">
  <div id="leftColW">
    <% form_tag dt_watchlists_path, :id => 'watchlistform' do -%>
    
    <% end -%>
  </div>
  <div id="rightColN">
    <%= dt_profile_sidebar %>
  </div>
</div>