<h1>New village</h1>

<%= error_messages_for :village %>

<% form_for(:village, :url => villages_path) do |f| %>
<p>
    <b>Village Name</b><br />
    <%= f.text_field :village_name %>
  </p>

  <p>
    <b>Village Group</b><br />
    <%= select (:village, "village_group_id", @village_groups.collect {|p| [ p.village_group_name, p.id ] } ) %>
  </p>
  
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', villages_path %>