
<%= form_remote_tag :url => {:action => 'create'}, 
                    :html => {:id => 'continent_form'} %>

<label for="continent_name">Continent Name</label>  
  <%= text_field 'continent_text', 'continent_name' %>
  

    <%= submit_tag "Create" %>

<%= end_form_tag %>