<h1>Editing continent</h1>

<%= error_messages_for :continent %>


<% form_for(:continent, :url => continent_path(@continent), :html => { :method => :put }) do |f| %>
  
   <p>
    <b>Continent Name</b><br />
    <%= f.text_field :continent_name %>
  </p>
  
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', continent_path(@continent) %> |
<%= link_to 'Back', continents_path %>