<% @group = show_unsent_list -%>
  <div class="projectInfo"  id="groupInfo-<%= @group.id %>">
    <div class="leftColW">
      <div class="projectRank">
        <ul class="specList">
          <% if @group.sent == false %><strong>Name: </strong><%= @group.first_name %><% end %>
          <% if @group.sent == false %><%= @group.last_name %><% end %>
		  <% if @group.sent == false %><strong>Email: </strong><%= @group.email %><% end %>
        </ul>
      </div>  
    </div>
  </div>
