<div id="contentContainer">
  <h3>Group List report</h3>
  <h2>This list will be lost when you leave this page</h2>
    
  <div id="rightColN">
  	<h2>Unsent Gifts</h2>
     <%= render :partial => 'show_unsent_list', :collection => @groups %>
	 	<h2>Sent Gifts</h2>
     <%= render :partial => 'show_sent_list', :collection => @groups %>
  
  </div>
</div>