<!--[form:nations]-->

  <p>
    <b>Name</b><br />
    <%= text_field :nation, :nation_name %>
  </p>

  <p>
    <b>Continent</b><br />
    <%= select (:nation, "continent_id", @continents.collect {|p| [ p.continent_name, p.id ] } ) %>
  </p>
 
<!--[eoform:nations]-->