<h1>New nation</h1>

<%= error_messages_for :nation %>

<% form_for(:nation, :url => nations_path) do |f| %>
  <p>
    <b>Nation Name</b><br />
    <%= f.text_field :nation_name %>
  </p>

  <p>
    <b>Continent</b><br />
    <%= select (:nation, "continent_id", @continents.collect {|p| [ p.continent_name, p.id ] } ) %>
  </p>
  
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', nations_path %>