<p>
  <b>Name:</b>
  <%=h @nation.nation_name %>
</p>

<p>
  <b>Continent:</b>
  <%=h @nation.continent.continent_name %>
</p>


<%= link_to 'Edit', edit_nation_path(@nation) %> |
<%= link_to 'Back', nations_path %>