<dl>
  <dt>
    <label for="record_password">Password</label>
  </dt>
  <dd>
    <input autocomplete="off" class="password-input text-input" id="record_password" name="record[password]" size="20" type="password" />
      </dd>
</dl>

