<% content_for :header do %>
  <div class="feature">
    <h1>Poverty</h1>
    <p>an opportunity to show what YOU can do</p>
  </div>
<% end %>

<% content_for :top_content do %>
  <div class="prepend-top"><h1 style="text-align:center;">WE CAN END POVERTY</h1></div>
<% end %>

<div class="clearfix append-bottom">
  <div class="span-4 prepend-1 append-1">
    <h2>We are Creative</h2>
    <p>A unique aspect of our humanity is that we are capable of finding value where there appears to be none. The creative impulse embedded in our human character is the driving force behind our greatest achievements.</p>
  </div>
  <div class="span-4 append-1">
    <h2>We All Receive</h2>
    <p>Eradicating extreme poverty is a challenge to our humanity demanding the very best of our skills, time and resources. And the amazing gift is that YOU and I get to play a role in this amazing challenge.</p>
  </div>
  <div class="span-4 append-1 last">
    <h2>We All Participate</h2>
    <p>Just imagine when poverty no longer exists… you and I can say WE played a part in making the eradication of poverty happen!</p>
  </div>
</div>

<div class="pageshadow-16">
  <div class="append-bottom prepend-top"><h1 class="special" style="text-align:center;">THE IMPACT</h1></div>
  <div class="clearfix append-bottom">
    <div class="span-4">
      <h2>Hope</h2>
      <p>Boys and girls everywhere will take control of their futures because they know how to read, write and do basic math.</p>
    </div>
    <div class="span-4">
      <h2>Quality of Life</h2>
      <p>Everyone will enjoy the life-saving and quality of life benefits we all strive for as a result of proper hygiene, nutritional education and access to healthcare.</p>
    </div>
    <div class="span-4">
      <h2>Dignity</h2>
      <p>As a result of being healthy, all members of society will experience the dignity that comes with the opportunity to work and contribute to the success of their families and their community.</p>
    </div>
    <div class="span-4 last">
      <h2>Contribution</h2>
      <p>Communities in less developed countries will make positive contributions to the growth of our global economy.</p>
    </div>
  </div>
</div>

<div class="pageshadow-16">
  <div class="append-bottom prepend-top"><h1 class="special" style="text-align:center;">INTEGRATED SOLUTIONS</h1></div>
  <div class="clearfix prepend-top append-bottom">
    <div class="span-4">
      <div style="padding-bottom:8px;"><img src="/images/icons/sector-economy.png" width="58" height="58" alt=""></div>
      <h2>Economy</h2>
      <p>Generally, relates to economic development of an area. This can be income generation, farm coops that are community owned even microcredit whereby the people are given very small loans within support structures to ensure success to start or expand a business. The ramification of more income means children can go to school instead of having to work, health care becomes accessible, as does a better standard of living.</p>
    </div>
    <div class="span-4">
      <div style="padding-bottom:8px;"><img src="/images/icons/sector-infrastructure.png" width="58" height="58" alt=""></div>
      <h2>Infrastructure</h2>
      <p>Usually relates to the building of a facility for a badly needed service within a community such as midwifery centre in Pakistan or a centre from which to teach the children.</p>
    </div>
    <div class="span-4">
      <div style="padding-bottom:8px;"><img src="/images/icons/sector-education.png" width="58" height="58" alt=""></div>
      <h2>Education</h2>
      <p>Is the area in which people of all ages are provided with education to enhance their skills thus giving the opportunity to take control over their futures. Be that be child orphans of AIDS, learning to make a living for themselves or widows of tiger attacks learning skills so they can better provide for their families in male dominated societies, education is a part of many of the projects.</p>
    </div>
    <div class="span-4 last">
      <div style="padding-bottom:8px;"><img src="/images/icons/sector-health.png" width="58" height="58" alt=""></div>
      <h2>Health</h2>
      <p>Health is another huge category with projects impacting children, families, school nutrition, basic hygiene matters, dentistry, maternal and newborn health to motorcycle ambulances in the many rural parts of the world where access to health, if it is even within one&#x27;s ability to pay is often to far away.</p>
    </div>
  </div>

  <div class="clearfix prepend-top append-bottom">
    <div class="span-4">
      <div style="padding-bottom:8px;"><img src="/images/icons/sector-agriculture.png" width="58" height="58" alt=""></div>
      <h2>Agriculture</h2>
      <p>Is about providing opportunities for locals to have access to new types of seeds to enhance the harvests, and thus income as well as farm animal programs for those that live herding dominant cultures.</p>
    </div>
    <div class="span-4">
      <div style="padding-bottom:8px;"><img src="/images/icons/sector-community-development.png" width="58" height="58" alt=""></div>
      <h2>Community Development</h2>
      <p>A bit of a catch all category but the premise is central to everything UEnd supports.  For Community Development is a process through which a community builds itself using local knowledge, wisdom and skills to get out of poverty sustainably.  It takes time and local connections and support, and humility on the part of the consultant as it is never about the west coming to save, it is a journey together by which both parties learn and grow and come away changed for the better.</p>
    </div>
    <div class="span-4">
      <div style="padding-bottom:8px;"><img src="/images/icons/sector-water-sanitation.png" width="58" height="58" alt=""></div>
      <h2>Water and Sanitation</h2>
      <p>This is a big one&hellip; water, or the lack of clean water leads to so many illnesses impacting a parent&#x27;s capacity to work and the opportunity for children to go to school. Even personal safety is affected depending on how far one has to walk on a daily basis to get water. This category usually includes drilling wells, cleaning up and controlling access to water so it can be kept clean and free of livestock feces as well as the building of latrines to ensure safe water and environments, thus reducing disease.</p>
    </div>
    <div class="span-4 last">
      <div style="padding-bottom:8px;"><img src="/images/icons/sector-gender-equality.png" width="58" height="58" alt=""></div>
      <h2>Gender Equality</h2>
      <p>Perhaps slower to get outcomes but no less important for a woman in the developing world who will directly impact the lives of at least 5 people. If one woman is given more respect and opportunity then her impact is greater to all within her influence. There are many cultural matters that interplay with this area so sensitivity is required for the changes to be lasting. It can be as simple as using the latent talent and education of many women to improve the lives in the community instead of looking outside the community for a solution.</p>
    </div>
  </div>
</div>
