<%- content_for :html_title do %>Monthly Giving<% end -%>

<%= render 'iend/shared/header' %>
<%= render :partial => 'iend/shared/account_nav' %>


<%- if @subscriptions.length > 0 -%>
  <div id="transaction-list">
    <table style="width:100%;">
    <tr><th>Description</th><th>Begin Date</th><th>End Date</th><th>Amount</th><th>&nbsp;</th></tr>
    <%= render @subscriptions %>
    </table>
  </div>
<%- else -%>
  <p>We don't have any monthly subscriptions registered for you.</p>
  <p><%= link_to "Visit U:Powered", dt_upowered_path %> to get started.</p>
<%- end -%>
