<%= dt_account_nav %>
<div id="contentcontainer">
<div id="content">
<div class="contentmargin">
<div class="column-title">All Groups</div>
<ul id="group-list">
</ul>
</div>
</div>

<div id="rail-left">
<div class="contentmargin">
<div class="column-title">Recently Created Groups</div>

</div>
</div>

<div id="rail-right">
<div class="contentmargin">
</div>
</div>
</div>