<div id="header">
	<div id="logo"><a href="/"><img src="/images/dt/brand_elements/cf_headerlogo.gif" width="203" height="50" alt="ChristmasFuture - Change the world&hellip;for good" /></a></div>
    <div id="RSSicon"><a href="http://www.christmasfuture.org/feed/"><img src="/images/dt/icons/feed-icon16x16.png" alt="RSS Feed" width="16" height="16" /></a></div>
</div>
<!-- header ends -->
