<p><strong><img src="/images/give/100.png" width="118" height="57" alt="100%"></strong></p>
<p>100% of every dollar you gift using UEnd.org goes directly towards the projects you choose. UEnd doesn&rsquo;t take a hidden cut or fees.</p>
<p><strong>How UEnd:Poverty funds its operational costs.</strong></p>
<p>We rely on small optional donations from you and others to keep making it easy to participate in ending poverty using the UEnd site. We wanted to make it your explicit choice.</p>
<p>For every $1 you &ldquo;tip&rdquo; to operate UEnd.org, the site raises over $12 towards poverty-ending projects. And it just get&#x27;s better as we grow.</p>