<% if logged_in? %>
	<fieldset>
		<% form_for(form_for_value) do |f|%>
			<div id="wall_form">
				<%= f.text_area :wall_text, :rows => 6 %>
				<span class="post_button"><%= f.submit "Post" %></span>
			</div>
		<% end %>
	</fieldset>
<% else %>
	<p>You must be logged in to post on the wall </p>
<% end %>