<% if logged_in? %>
	<% form_for(form_for_value) do |f|%>
		<div id="wall_form">
			<%= f.text_area :wall_text, :rows => 6, :cols => 70%>
			<p>
					<%= f.submit "Post" %>
				</p>
		</div>
	<% end %>
<% else %>
	<p>You must be logged in to post on the wall </p>
<% end %>