<div id="wall">
	<h2>The Wall</h2>
	<%= render :partial => 'dt/wall_posts/wall_form', :locals => {:form_for_value => [:dt,postable,postable.wall_posts.new]}%>
	<%= render :partial => 'dt/wall_posts/wall_post', :collection => postable.wall_posts.reverse %>
</div>