<div id="contentContainer">
  <h1>Millennium Development Goals</h1>

    <h2>What Are the Millennium Development Goals?</h2>
    <p>The eight Millennium Development Goals (MDGs) &ndash; which range from halving extreme poverty to halting the spread of HIV/AIDS and providing universal primary education, all by the target date of 2015 &ndash; form a blueprint agreed to by all the world&rsquo;s countries and all the world&rsquo;s leading development institutions.</p>

      <% if @goals -%>
      <%= render :partial => 'goal', :collection => @goals %>
      <% end %>
</div>