<% content_for :html_title do %>iEnd:Poverty - Edit <%=h @team.name %><% end %>

<% content_for :header do %>
  <div class="feature">
    <h1>End Global Poverty</h1>
    <p>The world is changing. Gift Different</p>
  </div>
<% end %>

<% content_for :top_content do %>
  <div class="clearfix">
    <div class="prepend-top">
      <h1>Edit <%=h @team.name %></h1>
    </div>
  </div>
<% end %>

<div class="clearfix">
  <%= render "form" %>
</div>