<h2>You Tube Videos | <%= link_to 'New You Tube Video', new_you_tube_video_path %></h2>

<div align="left">
<% for @you_tube_video in @you_tube_videos %>

<%= render_partial "video", @you_tube_video  %>
  
<% end %>
</div>
