    <div id="videos">
        You search for <%= @searchstring %> returned <%= @you_tube_videos.size %> video(s)
        <% for @you_tube_video in @you_tube_videos %>
            <%= render_partial "video", @you_tube_video  %>
        <% end %>
    </div>