
<object width="425" height="350"><param name="movie" value="http://www.youtube.com/v/<%= @you_tube_video.you_tube_reference%>"></param><param name="wmode" value="transparent"></param><embed src="http://www.youtube.com/v/<%= @you_tube_video.you_tube_reference%>" type="application/x-shockwave-flash" wmode="transparent" width="425" height="350"></embed></object>

<%= link_to 'Edit', edit_you_tube_video_path(@you_tube_video) %> |
<%= link_to 'Back', you_tube_videos_path %>