<!-- beginform: partner_statuses -->
  <p>
    <b>Status Type</b><br />
    <%= text_field :partner_status, :statusType %>
  </p>

  <p>
    <b>Description</b><br />
    <%= text_field :partner_status, :description %>
  </p>
<!-- endform: partner_statuses --> 