<h1>Editing partner_status</h1>

<%= error_messages_for :partner_status %>

<% form_for(:partner_status, :url => partner_status_path(@partner_status), :html => { :method => :put }) do |f| %>
    <%= render (:partial => 'form') %>
  <p>
    <%= submit_tag "Update" %>
  </p>
<% end %>

<%= link_to 'Show', partner_status_path(@partner_status) %> |
<%= link_to 'Back', partner_statuses_path %>