<h1>New Partner States</h1>

<%= error_messages_for :partner_status %>

<% form_for(:partner_status, :url => partner_statuses_path) do |f| %>
    <%= render (:partial => 'form') %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', partner_statuses_path %>