<p>
  <b>Statustype:</b>
  <%=h @partner_status.statusType %>
</p>

<p>
  <b>Description:</b>
  <%=h @partner_status.description %>
</p>


<%= link_to 'Edit', edit_partner_status_path(@partner_status) %> |
<%= link_to 'Back', partner_statuses_path %>