<h3>Projects in this sector</h3>

<div class="clearfix">
  <% @projects.each_with_index do |project, i| %>
    <div class="span-4 append-bottom<%= ' last' if (i+1)%3 == 0 %>">
      <%= render :partial => 'dt/projects/project', :locals => { :project => project } %>
    </div>
  <% end %>
</div>
