<div class="clearfix append-bottom smaller">
  <div class="span-4 append-bottom" style="border-bottom:1px dotted #999;">
    <div><strong>Number of projects:</strong> <%= @projects.size %></div>
  </div>
</div>
