<section id="project-nav" class="container border-bottom append-bottom">
  <article class="span-8 append-1">
  </article>
  <aside id="project-like" class="span-6 prepend-1">
    <div class="project-like">
      <div class="like google">
        <g:plusone href="<%= dt_sector_url(@sector)%>" size="medium" count="true" callback="update_google_plus">
      </div>
      <div class="like facebook">
        <fb:like href="<%= dt_sector_url(@sector)%>" send="false" notify="true" layout="button_count" show_faces="false"></fb:like>
      </div>
      <div class="like"><a id="<%= @sector.id %>" class="like_sector"><img src="/images/like.png" width="21" height="27" alt="Like"> Like This<span class="likes_count" style="display:none"><%= @sector.likes_count %></span></a></div>
    </div>
    
  </aside>
  </section>
