<% content_for :project_header do %>
  <section id="project-header" class="container prepend-top append-bottom">
    <div class="span-10">
      <h1><%= truncate(@sector.name, :length => 42) %></h1>
    </div>
  </section>
<% end %>
