<% form_tag dt_search_path, :id => 'projectsearchform', :method => :get do %>
  <div id="buttonFindGift"><a href="javascript:$('projectsearchform').submit()">&nbsp;</a></div>
  <div id="location"><%= dt_search_by_place_select %></div>
  <div id="cause"><%= dt_search_by_cause_select %></div>
  <div id="organization"><%= dt_search_by_organization_select %></div>
<% end %>
