<div class="clearfix" id="friends">
  <%- @friends.each_with_index do |friend, i| %>
    <div class="span-4 append-bottom<%= ' last' if (i+1)%3 == 0 %>">
      <%= render :partial => 'iend/users/private_profile', :locals => { :profile => friend.iend_profile } %>
    </div>
  <% end %>
</div>


