<%= render :partial => 'shared/category_display', :locals => { :f => @measure_category } %>

<%= link_to 'Edit', edit_measure_category_path(@measure_category) %> |
<%= link_to 'Back', measure_categories_path %>