Hello <%= @gift.to_name %>,

You have been given a ChristmasFuture gift by <%= @gift.name %>.

Please click on the following link to open your gift so that you can help to change the world.
<%= @url + "?code=#{@gift.pickup_code}" %>

If that does not work for you, copy and paste the following link into your web browser and enter your pickup code:
<%= @url %>

Pickup Code: <%= @gift.pickup_code %>

Thanks, 
The ChristmasFuture Team

<%= @env %>