<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>::: Uend Email :::</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <style type="text/css">
  <!--
  html, body {
    margin:10px;
  }
  body {
    background: #FFF;
    font: 12px/16px Arial, Helvetica, sans-serif;
    color: #333;
    text-align: left; /* this is asking IE to centre the container ;) */
  }
  h2 a {
    text-decoration:none;
    color: #360;
  }
  strong {
    color:#360;
  }
  small {font-size:0.9em;font-style:italic;}
  -->
  </style>
</head>
<body>
<div style="text-align:left;width:496px;margin:auto;">

<p>We're making progress! There have been some updates on the <%= link_to "U:Powered campaign", @upowered_url %>. Check it out and please let us know if you have any ideas, questions, or feedback. Thanks!</p>

<p><strong>...The UEnd Team</strong></p>

<p><small>You indicated that you wanted to hear from us when there were updates to U:Powered. If you prefer to stop receiving these updates just <%= link_to "click here", @unsubscribe_url %>.</small></p>

</div>
</body>
</html>