<%= @user.full_name %>, your account has been activated.

  <%= @url %>
  
Welcome to the future, Uend:. We appreciate your involvement in this exciting and rewarding effort to make extreme poverty a thing of the past. 

Thanks for joining this growing movement. Thanks for helping change the world...for good.
  