<%- if @cart.donation.present? -%>
<tr id="optional_donation" class="optional line_item_row">
  <td>
    <div class="clearfix">
      <div class="line_item small">Optional 15% Donation to UEnd Operations</div>
      <div class="controls"><%= link_to "Edit", edit_dt_cart_donation_path, :id => "edit_donation" %></div>
    </div>
    <div>Like a tip at a restaurant. Not expected, but makes all the difference</div>
  </td>
  <td class="numeric money">
    <%= number_to_currency(@cart.donation.item.amount) %>
  </td>
</tr>
<%- end -%>