<% @goal = show_goals -%>
<div class="projectInfo"  id="goalInfo-<%= @goal.id %>">
  <div class="leftColW">
    <h2><%= link_to @goal.name, millennium_goal_path(@goal) %></h2>
    <p><strong>Millennium Goal Description: </strong> <%= @goal.description%></p> 
  </div>    	
</div>
	
  
	