<div id="subNavWide">
	<ul class="subNav li">
		<li id="new-nav-overview"><%= link_to "Create New", new_millennium_goal_path %></li>  
  		<li id="edit-nav-overview"><%= link_to "Edit", edit_millennium_goal_path %></li>  
		<li id="delete" ><%= link_to "Delete", millennium_goal_path(@goal), :method => :delete, :confirm => 'Are you absolutely sure you want to delete this millennium goal?' %></li>
  	</ul>
</div><!-- subNav ends -->
