<div id="subNavWide">
	<ul class="subNav li">
		<li id="goal-nav-overview"><%= link_to "Create New", new_millennium_goal_path %></li>  
	    <li><%= link_to 'Inactive Records', :action => 'inactive_records'  %></li>
	</ul>
</div><!-- subNav ends -->
