<!--[form:Regions]-->

  <p>
    <b>Name </b><br />
    <%= text_field :region, :region_name %>
  </p>

  <p>
    <b>Country </b><br />
    <%= select (:region, "country_id", @countries.collect {|p| [ p.country_name, p.id ] } ) %>
  </p>
 
<!--[eoform:Regions]-->