
<p>
  <b>Region:</b>
  <%=h @region.region_name %>
</p>

<p>
  <b>Nation:</b>
  <%=h @region.nation.nation_name %>
</p>



<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>