
<p>
  <b>Region:</b>
  <%=h @region.region_name %>
</p>

<p>
  <b>Country:</b>
  <%=h @region.country.country_name %>
</p>

<p>
  <b>Region Type Name:</b>
  <%=h @region.region_type.region_type_name %>
</p>


<%= link_to 'Edit', edit_region_path(@region) %> |
<%= link_to 'Back', regions_path %>