
            <% if @cause.nil? %>
            <p>We could not locate the cause</p>
            <% else %>
            <%- content_for :html_title do %><%=h @cause.name %><% end -%>
            <p><%= @cause.description %></p>
            <% end %>
            <p style="text-align:center;"><a href="javascript:window.close();">Close Window</a></p>
          <% content_for :sidebar do %>
          <div class="quickfacts">
            <% unless @project.nil? %><%= project_quickfacts %><% end %>
          </div>
          <% end %>
