<%= error_messages_for 'measure' %>

<!--[form:measure]-->
<p><label for="measure_measure_type">Measure type</label><br/>
<%= text_field 'measure', 'measure_type'  %></p>

<p><label for="measure_measure_qty">Measure qty</label><br/>
<%= text_field 'measure', 'measure_qty'  %></p>

<p><label for="measure_date">Date</label><br/>
<%= date_select 'measure', 'date'  %></p>
<!--[eoform:measure]-->

