<!--[form:measure]-->
  <p>
    <b>Measure category</b><br />
    <%= f.select( :measure_category_id, MeasureCategory.find( :all ).collect {|s| [ s.category, s.id ]}) %>
  </p>

  <p>
    <b>Quantity</b><br />
    <%= f.text_field :quantity %>
  </p>

  <p>
    <b>Measure date</b><br />
    <%= f.date_select :measure_date %>
  </p>
<!--[eoform:measure]-->