<h1>New measure</h1>

<%= error_messages_for :measure %>

<% form_for(:measure, :url => measures_path) do |f| %>
  <%= render :partial => 'form', :locals => { :f => f } %>
  <p>
    <%= submit_tag "Create" %>
  </p>
<% end %>

<%= link_to 'Back', measures_path %>