<%- content_for :html_title do -%>Support Badges<%- end -%>
<h2>I Support UEnd: Badges</h2>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/isuend_110w35h.png" width="110" height="35" alt="I Support UEnd: I'm helping end poverty!" /></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/isuend_110w35h.png" width="110" height="35" alt="I Support UEnd: I'm helping end poverty!" /></a></textarea>
</p>
</div>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/isuend_125w125h.png" width="125" height="125" alt="I Support UEnd: I'm helping end poverty!" /></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/isuend_125w125h.png" width="125" height="125" alt="I Support UEnd: I'm helping end poverty!" /></a></textarea>
</p>
</div>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/isuend_220w35h.png" width="220" height="35" alt="I Support UEnd: I'm helping end poverty!" /></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/isuend_220w35h.png" width="220" height="35" alt="I Support UEnd: I'm helping end poverty!" /></a></textarea>
</p>
</div>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/isuend_480w60h.png" width="480" height="60" alt="I Support UEnd: I'm helping end poverty!" /></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/isuend_480w60h.png" width="480" height="60" alt="I Support UEnd: I'm helping end poverty!" /></a></textarea>
</p>
</div>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/isuendp_110w35h.png" width="110" height="35" alt="I Support UEnd:poverty" /></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/isuendp_110w35h.png" width="110" height="35" alt="I Support UEnd:poverty" /></a></textarea>
</p>
</div>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/isuendp_125w125h.png" width="125" height="125" alt="I Support UEnd:poverty" /></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/isuendp_125w125h.png" width="125" height="125" alt="I Support UEnd:poverty" /></a></textarea>
</p>
</div>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/isuendp_220w35h.png" width="220" height="35" alt="I Support UEnd:poverty" /></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/isuendp_220w35h.png" width="220" height="35" alt="I Support UEnd:poverty" /></a></textarea>
</p>
</div>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/isuendp_480w60h.png" width="480" height="60" alt="I Support UEnd:poverty"></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/isuendp_480w60h.png" width="480" height="60" alt="I Support UEnd:poverty" /></a></textarea>
</p>
</div>

<h2>We Support UEnd: Badges</h2>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/wsuend_110w35.png" width="110" height="35" alt="We Support UEnd: We're helping end poverty!" /></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br />
  <textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/wsuend_110w35.png" width="110" height="35" alt="We Support UEnd: We're helping end poverty!" /></a></textarea>
</p>
</div>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/wsuend_125w125h.png" width="125" height="125" alt="We Support UEnd: We're helping end poverty!" /></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/wsuend_125w125h.png" width="125" height="125" alt="We Support UEnd: We're helping end poverty!" /></a></textarea>
</p>
</div>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/wsuend_220w35h.png" width="220" height="35" alt="We Support UEnd: We're helping end poverty!" /></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/wsuend_220w35h.png" width="220" height="35" alt="We Support UEnd: We're helping end poverty!" /></a></textarea>
</p>
</div>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/wsuend_480w60h.png" width="480" height="60" alt="We Support UEnd: We're helping end poverty!" /></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/wsuend_480w60h.png" width="480" height="60" alt="We Support UEnd: We're helping end poverty!" /></a></textarea>
</p>
</div>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/wsuendp_110w35h.png" width="110" height="35" alt="We Support UEnd:poverty" /></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/wsuendp_110w35h.png" width="110" height="35" alt="We Support UEnd:poverty" /></a></textarea>
</p>
</div>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/wsuendp_125w125h.png" width="125" height="125" alt="We Support UEnd:poverty" /></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/wsuendp_125w125h.png" width="125" height="125" alt="We Support UEnd:poverty" /></a></textarea>
</p>
</div>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/wsuendp_220w35h.png" width="220" height="35" alt="We Support UEnd:poverty" /></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/wsuendp_220w35h.png" width="220" height="35" alt="We Support UEnd:poverty" /></a></textarea>
</p>
</div>

<div class="support-badge">
<p class="badge-image">
	<a href="http://www.uend.org"><img src="/images/dt/support_badges/wsuendp_480w60h.png" width="480" height="60" alt="We Support UEnd:poverty"></a>
</p>
<p>
 <b>Copy and paste this code for the image above:</b>
 <br /><textarea rows="2" cols="65" onfocus="$(this).select()"><a href="http://www.uend.org"><img src="http://www.uend.org/images/dt/support_badges/wsuendp_480w60h.png" width="480" height="60" alt="We Support UEnd:poverty" /></a></textarea>
</p>
</div>