<div style="margin: 10px; width: 400px; text-align: left; border: 1px solid #ccc;">
<h1>Note:</h1>
<p><%= @note %></p>
<p style="text-align: center; margin-bottom: 0;"><%= link_to_close_redbox('[CLOSE]')%> </p>
</div>