<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="generator" content="HTML Tidy, see www.w3.org" />
    <meta http-equiv="Content-Type"
    content="text/html; charset=iso-8859-1" />
<%= javascript_include_tag :defaults %>
<%= active_scaffold_includes %>
<% if @title %>
    <title><%=@title %></title>
<% else %>
    <title><%=(controller.controller_name).titleize %> : <%= (controller.action_name).titleize %></title>
<% end %>
    <%= stylesheet_link_tag 'cf_base2' %>
  </head>

  <body>
    <table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="237" height="80"><img
        src="/images/CF_logoHtag_1csml.gif" alt="" width="237"
        height="55" align="top" /></td>

        <td width="199">&nbsp;</td>

        <td width="214">&nbsp;</td>
      </tr>

      <tr valign="bottom">
        <td class="textsmList style1">
          <div class="style1" style="text-align: left">
            <a href="index.html">Christmas Future Business
            Admin</a>
          </div>
        </td>

        <td>&nbsp;</td>

        <td>&nbsp;</td>
      </tr>

      <tr>
        <td colspan="3">
          <div style="text-align: left">
            <img src="/images/line.jpg" width="698" height="17" />
          </div>
        </td>
      </tr>
    </table>

    <table width="700" height="50" border="0" cellpadding="0"
    cellspacing="0" background="/images/menuBar.png">
      <tr>
        <td width="60" rowspan="2">
          <div style="text-align: center">
            <a href="/bus_admin/partners"><img
            src="/images/Users2.png" alt="Partners" width="32"
            height="32" border="0" /></a>
          </div>
        </td>

        <td width="60" rowspan="2">
          <div style="text-align: center">
            <a href="/bus_admin/programs"><img src="/images/Globe-4.png"
            alt="Programs" width="32" height="32" border="0" /></a>
          </div>
        </td>

        <td width="60" rowspan="2">
          <div style="text-align: center">
            <a href="/bus_admin/projects"><img src="/images/Hard Hat.png"
            alt="Projects" width="32" height="32" border="0" /></a>
          </div>
        </td>

        <td width="60" rowspan="2">
          <div style="text-align: center">
            <a href="/donors"><img src="/images/Donors.png" alt="Donors"
            width="26" height="32" border="0" /></a>
          </div>
        </td>

        <td width="60" rowspan="2">
          <div style="text-align: center">
            <a href="/bus_admin/partners/?status=2"><img src="/images/PartnerUpdates.png"
            alt="Partners" width="32" height="32" border="0" /></a>
          </div>
        </td>

        <td width="60" rowspan="2">
          <div style="text-align: center">
            <a href="#5"><img src="/images/Email-3.png" alt="Mail"
            width="32" height="32" border="0" /></a>
          </div>
        </td>


        <td width="60" rowspan="2">&nbsp;</td>

        <td width="60" rowspan="2">&nbsp;</td>

        <td width="163">
          <div style="text-align: right">
            <a href="#"><img src="/images/logout.gif" alt="Menu"
            width="12" height="12" border="0" /></a>
          </div>
        </td>

        <td width="57"><a href="logout">Logout</a></td>
      </tr>

      <tr>
        <td>
          <div style="text-align: right">
            <a href="#"><img src="/images/Home.gif" alt="Home"
            width="12" height="12" border="0" /></a>
          </div>
        </td>

        <td width="57"><a href="index">Home</a></td>
      </tr>
    </table>

    <table width="700" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="60">
          <div style="text-align: center">
            <a href="/bus_admin/partners">Partners</a>
          </div>
        </td>

        <td width="60">
          <div style="text-align: center">
            <a href="/bus_admin/programs">Programs</a>
          </div>
        </td>

        <td width="60">
          <div style="text-align: center">
            <a href="/bus_admin/projects">Projects</a>
          </div>
        </td>

        <td width="60">
          <div style="text-align: center">
            <a href="/donors">Donors</a>
          </div>
        </td>

        <td width="60">
          <div style="text-align: center">
            <a href="/bus_admin/partners/?status=2">Partner<br />
             Updates</a>
          </div>
        </td>

        <td width="60">
          <div style="text-align: center">
            <a href="#">Mail</a>
          </div>
        </td>

        <td width="60">&nbsp;</td>

        <td width="60">&nbsp;</td>

        <td width="163">&nbsp;</td>

        <td width="57">
            <form name="editForm">
                <select name="site" size=-1 onchange ="formLinkRedirector(this.form)">
                <option value="">Manage...</option>
                <option value="continents">Continents</option>
                <option value="countries">Countries</option>
                <option value="regions">Regions</option>           
                <option value="/bus_admin/urban_centres">Urban Centres</option>  
                <option value="/bus_admin/villages">Villages</option>
                <option value="/bus_admin/task_categories">Task Categories</option>
                <option value="/bus_admin/task_statuses">Task Statuses</option>
                <option value="/bus_admin/project_categories">Project Categories</option>
                <option value="/bus_admin/project_statuses">Project Statuses</option>
                <option value="/bus_admin/partner_statuses">Partner Statuses</option>
                <option value="/bus_admin/partner_types">Partner Types</option>
                <option value="/bus_admin/contacts">Contacts</option>
                <option value="milestone_categories">Milestone Categories</option>   
                <option value="/bus_admin/millenium_development_Goals">MD Goals</option>   
                <option value="/bus_admin/targets">Targets</option>     
                <option value="/bus_admin/measure_categories">Measure Categories</option>   
                <option value="/bus_admin/indicators">Indicators</option>   
                <option value="/bus_admin/sectors">Sectors</option>              
            </form>
                    
        </td>
      </tr>
    </table>
     
    <table width="700" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <!--
                <td width="40" height="25"><a href="partnerSearch2.html"><img src=
                "/images/Search 4.png" width="32" height="32" border="0" /></a></td>
                -->
        <!--
                <td width="76" height="25" class="Head style2">
                <div align="left">

                </div>
                </td>
                -->

        <td width="584" height="25" bordercolor="#666666">
          <div style="text-align: left">
            <!-- CONTENT STARTS HERE -->
            <p style="color: green"><%= flash[:notice] %></p>
            <%= yield  %>
            
            <!-- CONTENT ENDS HERE -->
          </div>
        </td>
      </tr>
    </table>
    <br />
  </body>
</html>

