<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title>::: ChristmasFuture :::</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="description" content="" />
  <meta name="keywords" content="ChristmasFuture, Change the world for good." />
  <%= javascript_include_tag 'prototype' %>
  <%= javascript_include_tag 'effects' %>
  <%= javascript_include_tag 'dragdrop' %>
  <%= javascript_include_tag 'controls' %>
  <%= javascript_include_tag 'dt/application' %>
  <%= javascript_include_tag @action_js if @action_js %>
  <%= stylesheet_link_tag 'dt/base.css' %>
  <%= stylesheet_link_tag 'dt/navigation.css' %>
  <!--[if lt IE 7]><%= stylesheet_link_tag 'dt/ie.css' %><![endif]-->
</head>
<body>
<div id="container">
  <div id="main">
    <div id="content">
<%= dt_head %>

<%= dt_nav %>

<div id="featurePhoto" style="height:155px ">
  <%= image_tag dt_masthead_image %>
</div>
<div id="toolbar">
  <% form_tag dt_search_path, :id => 'projectsearchform', :method => :get do %>
    <div id="buttonFindGift"><a href="javascript:$('projectsearchform').submit()">&nbsp;</a></div>
    <div id="location"><%= dt_search_by_place_select %></div>
    <div id="cause"><%= dt_search_by_cause_select %></div>
    <div id="organization"><%= dt_search_by_organization_select %></div>
  <% end %>
</div>

<%= yield %>

<%= dt_footer %>

    </div>
  </div>
</div>
</body>
</html>