<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>ChristmasFuture - DonorTrust</title>
<%= javascript_include_tag :defaults %>
<%= stylesheet_link_tag 'dt/base.css' %>
<!--[if lt IE 7]><%= stylesheet_link_tag 'dt/ie.css' %><![endif]-->
</head>
<body>
<div id="container">
<%= dt_head %>

<%= dt_nav %>

<%= dt_masthead %>

<%= dt_project_search %>

<%= yield  %>

<div id="footer">
	<span id="copyright">Copyright &copy; 2007 ChristmasFuture Foundation. All Rights Reserved.</span>
	<span id="footerphone">Tel: (403) 835-5444</span>
	<span id="footeremail">Email: <a href="mailto:info@christmasfuture.org">info@christmasfuture.org</a></span>
	<div id="footerterms"><a href="#">Terms of Use</a> | <a href="#">Privacy</a> | <a href="#">Copyrights</a></div>
</div>
</div>

</body>
</html>