<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>::: ChristmasFuture :::</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<meta name="description" content="" />
	<meta name="keywords" content="ChristmasFuture, Change the world for good." />
	<%= javascript_include_tag 'prototype' %>
	<%= javascript_include_tag 'effects' %>
	<%= javascript_include_tag 'dragdrop' %>
	<%= javascript_include_tag 'controls' %>
	<%= javascript_include_tag 'dt/application' %>
	<%= stylesheet_link_tag 'dt/base.css', :media => 'all' %>
	<%= stylesheet_link_tag 'dt/navigation.css', :media => 'all' %>
	<!--[if lt IE 7]><%= stylesheet_link_tag 'dt/ie.css' %><![endif]-->
</head>
<body class="current">
<div id="container">
<div id="main"> 
<div id="content">
<%= dt_head %>

<%= dt_nav %>

<%= dt_masthead %>

<div id="contentContainer">

<%= yield  %>

</div><!-- #contentContainer Ends -->
<div id="footer">
<ul class="footer li">
	<li>2007 &copy; <a href="http://www.christmasfuture.org/" target="_blank">ChristmasFuture Foundation</a>, All Rights Reserved.</li>
	<li>Tel: 403.835.5444  </li>
	<li>Email: <script type="text/javascript">
    <!--
		var emailUser = "info"
		var emailHost = "christmasfuture.org"
		var email = emailUser + '@' + emailHost
		document.write("<a href=" + "mail" + "to:" + email + ">" + email + "</a>")
	//-->
   </script></li>
</ul>
<p>Terms of Use | Privacy | Copyrights</p>
</div>

</div><!-- #content Ends -->
</div><!-- #main Ends -->
</div><!-- #container Ends -->
</body>
</html>